---
title: Travel
body_class: app-travel
---

{{#extend "layout-default"}}
  {{#content "css_vendor" mode="append"}}
    <link rel="stylesheet" href="{{global}}/vendor/mapbox-js/mapbox.css">
  {{/content}}

  {{#content "css" mode="prepend"}}
    <link rel="stylesheet" href="{{assets}}/examples/css/apps/travel.css">
  {{/content}}


  {{#content "js_vendor" mode="append"}}
    <script src="{{global}}/vendor/raty/jquery.raty.js"></script>
    <script src="{{global}}/vendor/slidepanel/jquery-slidePanel.js"></script>
    <script src="{{global}}/vendor/mapbox-js/mapbox.js"></script>
    <script src="{{global}}/vendor/mapbox-js/leaflet.markercluster.js"></script>
  {{/content}}

  {{#content "js" mode="append"}}
    <script src="{{global}}/js/Plugin/raty.js"></script>
  {{/content}}

  {{#content "js" mode="append"}}
    <script src="{{assets}}/js/Site.js"></script>
    <script src="{{assets}}/js/App/Travel.js"></script>
  {{/content}}

  {{#content "scripts" mode="replace"}}
    <script src="{{assets}}/examples/js/apps/travel.js"></script>
  {{/content}}

  {{#content "body"}}

    <!-- Page -->
    <div class="page">
      <!-- Travel Options Siderbar -->
      <div class="page-aside">
        <div class="page-aside-switch">
          <i class="icon md-chevron-left" aria-hidden="true"></i>
          <i class="icon md-chevron-right" aria-hidden="true"></i>
        </div>
        <div class="page-aside-inner nav-tabs-animate">
          <div class="page-nav-tabs">
            <ul class="nav nav-tabs nav-tabs-line" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link active" data-toggle="tab" href="#spots" aria-controls="travel-spots"
                  aria-expanded="false" role="tab">Spots</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" data-toggle="tab" href="#hotels" aria-controls="travel-hotels"
                  aria-expanded="true" role="tab">Hotels</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" data-toggle="tab" href="#reviews" aria-controls="travel-reviews"
                  aria-expanded="false" role="tab">Reviews</a>
              </li>
            </ul>
          </div>
          <div class="page-aside-content page-aside-scroll">
            <div data-role="container">
              <div data-role="content">
                <div class="tab-content">
                  <div class="tab-pane animation-fade active" id="spots" role="tabpanel" aria-expanded="ture">
                    <div class="spots-list row">
                      <div class="col-xxl-6 spot-info" data-spot-id="s_1">
                        <div class="card card-shadow">
                          <div class="card-header cover overlay">
                            <img class="cover-image" src="../../../../global/photos/animal-1-720x480.jpg" alt="spot_photo"
                            />
                            <div class="overlay-panel">
                              <div class="card-actions float-right">
                                <a href="javascript:void(0)">
                                <i class="icon md-favorite-outline text" aria-hidden="true"></i>
                                <i class="icon md-favorite text-active" aria-hidden="true"></i>
                              </a>
                              </div>
                            </div>
                          </div>
                          <div class="card-block">
                            <h3 class="card-title item-title">
                              The Mountain in Japan
                            </h3>
                            <span class="item-name">
                              pariatur
                            </span>
                            <p class="card-text type-link">
                              <small>
                                Posted in
                                <a href="javascript:void(0)">
                                  culpa
                                </a>
                              </small>
                            </p>
                            <p class="card-text">
                              Cupidatat reprehenderit velit officia tempor reprehenderit cillum aliquip veniam
                              veniam. Elit dolore amet mollit sint. Duis tempor
                              occaecat ad ea excepteur culpa consectetur. Irure
                              cupidatat ullamco dolore esse laboris cillum. Exercitation
                              exercitation eiusmod velit quis nisi quis consequat
                              do sint. Reprehenderit reprehenderit elit magna reprehenderit
                              reprehenderit esse ullamco reprehenderit. Ut nulla
                              incididunt dolore laborum mollit deserunt exercitation
                              tempor. Voluptate Lorem esse consequat commodo sit.
                            </p>
                          </div>
                          <div class="card-block">
                            <div class="rating" data-score="4" data-nummber="5" data-plugin="rating">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-6 spot-info" data-spot-id="s_2">
                        <div class="card card-shadow">
                          <div class="card-header cover overlay">
                            <img class="cover-image" src="../../../../global/photos/city-1-720x480.jpg" alt="spot_photo"
                            />
                            <div class="overlay-panel">
                              <div class="card-actions float-right">
                                <a href="javascript:void(0)">
                                <i class="icon md-favorite-outline text" aria-hidden="true"></i>
                                <i class="icon md-favorite text-active" aria-hidden="true"></i>
                              </a>
                              </div>
                            </div>
                          </div>
                          <div class="card-block">
                            <h3 class="card-title item-title">
                              The City of French
                            </h3>
                            <span class="item-name">
                              in
                            </span>
                            <p class="card-text type-link">
                              <small>
                                Posted in
                                <a href="javascript:void(0)">
                                  deserunt
                                </a>
                              </small>
                            </p>
                            <p class="card-text">
                              Do consectetur occaecat deserunt reprehenderit. Quis officia et laborum incididunt
                              commodo incididunt. Tempor sint non esse officia
                              Lorem consectetur. Adipisicing reprehenderit aliqua
                              aliqua mollit nulla. Voluptate laborum ea culpa aliqua
                              aute culpa irure elit reprehenderit. Enim velit consectetur
                              aliqua nisi aliqua magna Lorem laborum laborum. Ut
                              sunt dolore officia reprehenderit eiusmod. Enim exercitation
                              magna tempor enim enim adipisicing.
                            </p>
                          </div>
                          <div class="card-block">
                            <div class="rating" data-score="3" data-nummber="5" data-plugin="rating">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-6 spot-info" data-spot-id="s_3">
                        <div class="card card-shadow">
                          <div class="card-header cover overlay">
                            <img class="cover-image" src="../../../../global/photos/city-2-720x480.jpg" alt="spot_photo"
                            />
                            <div class="overlay-panel">
                              <div class="card-actions float-right">
                                <a href="javascript:void(0)">
                                <i class="icon md-favorite-outline text" aria-hidden="true"></i>
                                <i class="icon md-favorite text-active" aria-hidden="true"></i>
                              </a>
                              </div>
                            </div>
                          </div>
                          <div class="card-block">
                            <h3 class="card-title item-title">
                              The Bund of Shanghai
                            </h3>
                            <span class="item-name">
                              in
                            </span>
                            <p class="card-text type-link">
                              <small>
                                Posted in
                                <a href="javascript:void(0)">
                                  ea
                                </a>
                              </small>
                            </p>
                            <p class="card-text">
                              Fugiat irure eiusmod nulla consequat incididunt. Aliquip voluptate Lorem nostrud
                              non sint. Officia nisi in ullamco eu reprehenderit
                              Lorem ut ut. Velit quis deserunt sit sit aliquip.
                              Deserunt et sint consectetur consequat sit veniam
                              laboris. Labore irure enim duis ad laborum laboris.
                              Et labore sunt ad irure. Duis enim cupidatat anim
                              eiusmod veniam duis amet cillum.
                            </p>
                          </div>
                          <div class="card-block">
                            <div class="rating" data-score="5" data-nummber="5" data-plugin="rating">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-6 spot-info" data-spot-id="s_4">
                        <div class="card card-shadow">
                          <div class="card-header cover overlay">
                            <img class="cover-image" src="../../../../global/photos/city-4-720x480.jpg" alt="spot_photo"
                            />
                            <div class="overlay-panel">
                              <div class="card-actions float-right">
                                <a href="javascript:void(0)">
                                <i class="icon md-favorite-outline text" aria-hidden="true"></i>
                                <i class="icon md-favorite text-active" aria-hidden="true"></i>
                              </a>
                              </div>
                            </div>
                          </div>
                          <div class="card-block">
                            <h3 class="card-title item-title">
                              The Park in New York
                            </h3>
                            <span class="item-name">
                              minim
                            </span>
                            <p class="card-text type-link">
                              <small>
                                Posted in
                                <a href="javascript:void(0)">
                                  elit
                                </a>
                              </small>
                            </p>
                            <p class="card-text">
                              Nisi eiusmod anim officia pariatur culpa eu nisi. Adipisicing non excepteur laboris
                              eiusmod Lorem ut. Nisi irure labore labore tempor.
                              Velit excepteur ex voluptate cupidatat nisi cupidatat
                              cupidatat. Minim veniam laboris ea irure minim labore
                              nisi. Aliquip sit aliquip fugiat mollit aute Lorem
                              veniam sint eiusmod. Amet dolor culpa voluptate nulla
                              dolore magna. Ipsum minim anim do ut.
                            </p>
                          </div>
                          <div class="card-block">
                            <div class="rating" data-score="2" data-nummber="5" data-plugin="rating">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-6 spot-info" data-spot-id="s_5">
                        <div class="card card-shadow">
                          <div class="card-header cover overlay">
                            <img class="cover-image" src="../../../../global/photos/city-3-720x480.jpg" alt="spot_photo"
                            />
                            <div class="overlay-panel">
                              <div class="card-actions float-right">
                                <a href="javascript:void(0)">
                                <i class="icon md-favorite-outline text" aria-hidden="true"></i>
                                <i class="icon md-favorite text-active" aria-hidden="true"></i>
                              </a>
                              </div>
                            </div>
                          </div>
                          <div class="card-block">
                            <h3 class="card-title item-title">
                              The street in Beijing
                            </h3>
                            <span class="item-name">
                              pariatur
                            </span>
                            <p class="card-text type-link">
                              <small>
                                Posted in
                                <a href="javascript:void(0)">
                                  proident
                                </a>
                              </small>
                            </p>
                            <p class="card-text">
                              Cillum aliqua eu exercitation reprehenderit nostrud laborum occaecat est. Reprehenderit
                              id excepteur eiusmod labore id aute occaecat ea irure.
                              Ullamco est cillum voluptate aliqua sit. Velit aliqua
                              proident aute id. Laboris sunt ea consectetur occaecat
                              culpa. Veniam esse aliqua magna ad laboris. Reprehenderit
                              laborum ex eiusmod do ut exercitation velit nisi.
                              Proident pariatur ut consectetur consectetur proident
                              pariatur adipisicing irure.
                            </p>
                          </div>
                          <div class="card-block">
                            <div class="rating" data-score="4" data-nummber="5" data-plugin="rating">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane animation-fade" id="hotels" role="tabpanel" aria-expanded="false">
                    <div class="hotels-list row">
                      <div class="col-lg-6 hotel-info" data-hotel-id="h_1">
                        <div class="card card-block card-inverse card-primary">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-4-720x480.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            esse consequat
                          </h4>
                          <p class="card-text item-title">
                            Excepteur amet consectetur ex commodo qui. Deserunt incididunt exercitation consectetur
                            elit adipisicing enim. Ad occaecat laboris cupidatat
                            aute proident ad.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="4" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 hotel-info" data-hotel-id="h_2">
                        <div class="card card-block card-inverse card-success">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-5-720x480.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            incididunt veniam
                          </h4>
                          <p class="card-text item-title">
                            Ad ea magna nostrud sit consequat ad. Dolor magna ex aliquip cupidatat velit elit.
                            Nulla quis pariatur irure pariatur consequat et dolore.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="5" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 hotel-info" data-hotel-id="h_3">
                        <div class="card card-block card-inverse card-danger">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-7-960x480.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            nulla ullamco
                          </h4>
                          <p class="card-text item-title">
                            Exercitation commodo consectetur elit consequat ipsum quis laborum. Ex et esse
                            exercitation consectetur. Dolor est aliqua ea officia.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="2" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 hotel-info" data-hotel-id="h_4">
                        <div class="card card-block card-inverse card-info">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-8-960x640.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            ut reprehenderit
                          </h4>
                          <p class="card-text item-title">
                            Sunt cupidatat tempor laborum dolore non sunt. Aliquip mollit ipsum laboris proident
                            proident eu. Sint do cillum ut ad pariatur nostrud.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="3" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 hotel-info" data-hotel-id="h_5">
                        <div class="card card-block card-inverse card-success">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-6-960x640.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            nulla anim
                          </h4>
                          <p class="card-text item-title">
                            Voluptate enim ad aute dolor voluptate. Irure elit tempor quis sint. Minim elit
                            labore fugiat tempor.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="4" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 hotel-info" data-hotel-id="h_6">
                        <div class="card card-block card-inverse card-primary">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-9-960x640.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            enim consectetur
                          </h4>
                          <p class="card-text item-title">
                            Nostrud adipisicing est sint nulla. Reprehenderit nulla fugiat deserunt eiusmod.
                            Consectetur adipisicing ullamco sunt consequat.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="4" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane animation-fade page-content-table bg-white" id="reviews" role="tabpanel"
                    aria-expanded="false">
                    <ul class="reviews-list">
                      <li class="reviews-header">
                        <p>
                          <span class="float-right pl-10"><b class="percent">97%</b>approval rating</span>
                          <span>438 Have review this place</span>
                        </p>
                      </li>
                      <li>
                        <ul class="list-group list-group-dividered reviews-list">
                          <li class="list-group-item review-info" data-review-id="r_1">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/5.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">nisi deserunt</h5>
                                <div class="rating" data-plugin="rating" data-score="4" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">nulla adipisicing</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_2">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/6.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">laboris consectetur</h5>
                                <div class="rating" data-plugin="rating" data-score="2" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">eiusmod veniam</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_3">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/7.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">duis adipisicing</h5>
                                <div class="rating" data-plugin="rating" data-score="5" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">sunt ad</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_4">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/8.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">qui magna</h5>
                                <div class="rating" data-plugin="rating" data-score="3" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">ut magna</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_5">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/1.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">enim exercitation</h5>
                                <div class="rating" data-plugin="rating" data-score="4" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">nulla in</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_6">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/10.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">in laborum</h5>
                                <div class="rating" data-plugin="rating" data-score="1" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">enim amet</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_7">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/2.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">ipsum tempor</h5>
                                <div class="rating" data-plugin="rating" data-score="3" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">non nulla</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_8">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/11.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">ad officia</h5>
                                <div class="rating" data-plugin="rating" data-score="1" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">deserunt officia</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_9">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/2.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">quis Lorem</h5>
                                <div class="rating" data-plugin="rating" data-score="5" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">et ipsum</span>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Travel Options Siderbar -->
      <div class="page-main">
        <div id="map">
        </div>
      </div>
    </div>

  {{/content}}
{{/extend}}