---
title: Single Post
body_class: page-email page-email-post
---

{{#extend "layout-default"}}

  {{#content "css" mode="prepend"}}
    <link rel="stylesheet" href="{{assets}}/examples/css/pages/email.css">
  {{/content}}


  {{#content "body"}}

    <!-- Page -->
    <div class="page">
      <div class="page-content">
        <!-- Panel -->
        <div class="panel">
          <div class="panel-body container-fluid">
            <div class="email-title">
              <img src="{{assets}}//images/logo-blue.png" alt="..." />
              <h4 class="blue-grey-400 font-weight-400">Remark</h4>
            </div>
            <div class="card">
              <div class="card-block px-0">
                <div class="card mb-0">
                  <div class="card-header cover overlay p-0">
                    <img class="cover-image" src="{{global}}/photos/placeholder.png" alt="...">
                    <div class="overlay-shade overlay-panel"></div>
                  </div>
                  <div class="card-block px-0">
                    <h3 class="card-title">Dolemus vero fames</h3>
                    <p class="card-text">
                      <small>Jun 15, 2017</small>
                    </p>
                    <p class="card-text">Personae romano, deditum, diu veniam totam aequo, voluptaria
                      maluisset cotidie gravis quando liberiusque placatae, ars
                      dicitis potius, ordiamur aegritudo conquisitis sicine omnibus
                      specie habendus iuvaret contemnere brute, concedo potuimus
                      tractatas inquam effici. Praeclara responsum provocatus m
                      domo desiderat. Quid natum. </p>
                  </div>
                  <div class="card-block p-0">
                    tags:
                    <a class="badge badge-outline badge-default mx-5" href="#">Blog</a>
                    <a class="badge badge-outline badge-default mx-5" href="#">Design</a>
                    <a class="badge badge-outline badge-default mx-5" href="#">Cool</a>
                  </div>
                  <div class="card-block px-0 clearfix">
                    <a class="btn btn-default btn-outline card-link" href="javascript:void(0)"><i class="icon wb-chevron-right-mini font-size-16"></i>Read More</a>
                    <div class="card-actions float-right">
                      <a href="javascript:void(0)">
                    <i class="icon wb-share"></i>
                  </a>
                      <a href="javascript:void(0)">
                    <i class="icon wb-heart"></i>
                    <span>63</span>
                  </a>
                      <a href="javascript:void(0)">
                    <i class="icon wb-chat"></i>
                    <span>26</span>
                  </a>
                    </div>
                  </div>
                  <div class="card-block px-0">
                    <h3 class="card-heading">
                      Comments
                    </h3>
                    <div class="card-block p-0">
                      <div class="media">
                        <div class="pr-20">
                          <a class="avatar" href="#">
                            <img class="img-responsive" src="{{global}}/portraits/1.jpg" alt="..." />
                          </a>
                        </div>
                        <div class="media-body">
                          <div class="mt-0 mb-5" href="#">
                            Herman Beck
                            <small>Yesterday at 12:30AM</small>
                          </div>
                          <small>Officia qui commodo ad dolor. Sit nisi minim aute deserunt
                            quis. Cupidatat ea officia in proident non. Mollit
                            id sit aliqua laborum. Officia labore dolor irure amet.
                            Excepteur eu sit ullamco duis sunt anim consectetur.
                            Id aute non amet culpa pariatur officia.</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="email-more mt-0">
              <p>You are currently signed up to Company’s newsletters as: youremail@gmail.com
                to <a class="email-unsubscribe" href="javascript:void(0)">unsubscribe</a></p>
              <div class="email-more-social">
                <a href="javascript:void(0)"><i class="icon bd-twitter" aria-hidden="true"></i></a>
                <a href="javascript:void(0)"><i class="icon bd-facebook" aria-hidden="true"></i></a>
                <a href="javascript:void(0)"><i class="icon bd-linkedin" aria-hidden="true"></i></a>
                <a href="javascript:void(0)"><i class="icon bd-pinterest" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- End panel -->
      </div>
    </div>

  {{/content}}
{{/extend}}