---
title: Travel
body_class: app-travel
---

{{#extend "layout-default"}}
  {{#content "css_vendor" mode="append"}}
    <link rel="stylesheet" href="{{global}}/vendor/mapbox-js/mapbox.css">
  {{/content}}

  {{#content "css" mode="prepend"}}
    <link rel="stylesheet" href="{{assets}}/examples/css/apps/travel.css">
  {{/content}}


  {{#content "js_vendor" mode="append"}}
    <script src="{{global}}/vendor/raty/jquery.raty.js"></script>
    <script src="{{global}}/vendor/slidepanel/jquery-slidePanel.js"></script>
    <script src="{{global}}/vendor/mapbox-js/mapbox.js"></script>
    <script src="{{global}}/vendor/mapbox-js/leaflet.markercluster.js"></script>
  {{/content}}

  {{#content "js" mode="append"}}
    <script src="{{global}}/js/Plugin/raty.js"></script>
  {{/content}}

  {{#content "js" mode="append"}}
    <script src="{{assets}}/js/Site.js"></script>
    <script src="{{assets}}/js/App/Travel.js"></script>
  {{/content}}

  {{#content "scripts" mode="replace"}}
    <script src="{{assets}}/examples/js/apps/travel.js"></script>
  {{/content}}

  {{#content "body"}}

    <!-- Page -->
    <div class="page">
      <!-- Travel Options Siderbar -->
      <div class="page-aside">
        <div class="page-aside-switch">
          <i class="icon wb-chevron-left" aria-hidden="true"></i>
          <i class="icon wb-chevron-right" aria-hidden="true"></i>
        </div>
        <div class="page-aside-inner nav-tabs-animate">
          <div class="page-nav-tabs">
            <ul class="nav nav-tabs nav-tabs-line" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link active" data-toggle="tab" href="#spots" aria-controls="travel-spots"
                  aria-expanded="false" role="tab">Spots</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" data-toggle="tab" href="#hotels" aria-controls="travel-hotels"
                  aria-expanded="true" role="tab">Hotels</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" data-toggle="tab" href="#reviews" aria-controls="travel-reviews"
                  aria-expanded="false" role="tab">Reviews</a>
              </li>
            </ul>
          </div>
          <div class="page-aside-content page-aside-scroll">
            <div data-role="container">
              <div data-role="content">
                <div class="tab-content">
                  <div class="tab-pane animation-fade active" id="spots" role="tabpanel" aria-expanded="ture">
                    <div class="spots-list row">
                      <div class="col-xxl-6 spot-info" data-spot-id="s_1">
                        <div class="card card-shadow">
                          <div class="card-header cover overlay">
                            <img class="cover-image" src="../../../../global/photos/animal-1-720x480.jpg" alt="spot_photo"
                            />
                            <div class="overlay-panel">
                              <div class="card-actions float-right">
                                <a href="javascript:void(0)">
                                <i class="icon wb-heart-outline text" aria-hidden="true"></i>
                                <i class="icon wb-heart text-active" aria-hidden="true"></i>
                              </a>
                              </div>
                            </div>
                          </div>
                          <div class="card-block">
                            <h3 class="card-title item-title">
                              The Mountain in Japan
                            </h3>
                            <span class="item-name">
                              qui
                            </span>
                            <p class="card-text type-link">
                              <small>
                                Posted in
                                <a href="javascript:void(0)">
                                  in
                                </a>
                              </small>
                            </p>
                            <p class="card-text">
                              Officia cillum ad veniam laboris eu. Ad nostrud sit laboris culpa non commodo.
                              Deserunt occaecat aliqua id consectetur elit id.
                              Ea consectetur laborum deserunt velit eiusmod mollit
                              est esse. Veniam mollit enim non adipisicing mollit
                              dolor nulla dolor. Eiusmod do aliquip quis laborum
                              ad veniam sint nostrud anim. Consectetur sint quis
                              aute tempor incididunt aliquip. Esse culpa qui nostrud
                              nulla sit.
                            </p>
                          </div>
                          <div class="card-block">
                            <div class="rating" data-score="4" data-nummber="5" data-plugin="rating">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-6 spot-info" data-spot-id="s_2">
                        <div class="card card-shadow">
                          <div class="card-header cover overlay">
                            <img class="cover-image" src="../../../../global/photos/city-1-720x480.jpg" alt="spot_photo"
                            />
                            <div class="overlay-panel">
                              <div class="card-actions float-right">
                                <a href="javascript:void(0)">
                                <i class="icon wb-heart-outline text" aria-hidden="true"></i>
                                <i class="icon wb-heart text-active" aria-hidden="true"></i>
                              </a>
                              </div>
                            </div>
                          </div>
                          <div class="card-block">
                            <h3 class="card-title item-title">
                              The City of French
                            </h3>
                            <span class="item-name">
                              magna
                            </span>
                            <p class="card-text type-link">
                              <small>
                                Posted in
                                <a href="javascript:void(0)">
                                  cillum
                                </a>
                              </small>
                            </p>
                            <p class="card-text">
                              Minim deserunt dolore veniam Lorem proident nostrud minim. Ullamco ad non nulla
                              irure ut. Amet enim sint mollit ea. Nulla incididunt
                              adipisicing duis tempor. Pariatur dolore amet mollit
                              velit Lorem. Eiusmod nostrud do nisi occaecat magna
                              nulla enim occaecat cillum. Velit proident minim
                              irure ut irure voluptate. Ad exercitation dolor esse
                              sint officia minim sunt fugiat.
                            </p>
                          </div>
                          <div class="card-block">
                            <div class="rating" data-score="3" data-nummber="5" data-plugin="rating">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-6 spot-info" data-spot-id="s_3">
                        <div class="card card-shadow">
                          <div class="card-header cover overlay">
                            <img class="cover-image" src="../../../../global/photos/city-2-720x480.jpg" alt="spot_photo"
                            />
                            <div class="overlay-panel">
                              <div class="card-actions float-right">
                                <a href="javascript:void(0)">
                                <i class="icon wb-heart-outline text" aria-hidden="true"></i>
                                <i class="icon wb-heart text-active" aria-hidden="true"></i>
                              </a>
                              </div>
                            </div>
                          </div>
                          <div class="card-block">
                            <h3 class="card-title item-title">
                              The Bund of Shanghai
                            </h3>
                            <span class="item-name">
                              aliquip
                            </span>
                            <p class="card-text type-link">
                              <small>
                                Posted in
                                <a href="javascript:void(0)">
                                  aliqua
                                </a>
                              </small>
                            </p>
                            <p class="card-text">
                              Labore cupidatat qui deserunt tempor aliquip do esse. Exercitation voluptate culpa
                              magna quis elit consectetur fugiat esse. Duis deserunt
                              elit qui in reprehenderit consequat. Laborum sit
                              ullamco ex mollit pariatur incididunt ea adipisicing
                              ullamco. Officia deserunt labore ea adipisicing qui
                              mollit excepteur enim laborum. Cupidatat enim laborum
                              commodo amet do anim nostrud. Culpa velit tempor
                              voluptate ut qui enim sint. Et sunt magna nulla ea
                              dolore.
                            </p>
                          </div>
                          <div class="card-block">
                            <div class="rating" data-score="5" data-nummber="5" data-plugin="rating">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-6 spot-info" data-spot-id="s_4">
                        <div class="card card-shadow">
                          <div class="card-header cover overlay">
                            <img class="cover-image" src="../../../../global/photos/city-4-720x480.jpg" alt="spot_photo"
                            />
                            <div class="overlay-panel">
                              <div class="card-actions float-right">
                                <a href="javascript:void(0)">
                                <i class="icon wb-heart-outline text" aria-hidden="true"></i>
                                <i class="icon wb-heart text-active" aria-hidden="true"></i>
                              </a>
                              </div>
                            </div>
                          </div>
                          <div class="card-block">
                            <h3 class="card-title item-title">
                              The Park in New York
                            </h3>
                            <span class="item-name">
                              aute
                            </span>
                            <p class="card-text type-link">
                              <small>
                                Posted in
                                <a href="javascript:void(0)">
                                  deserunt
                                </a>
                              </small>
                            </p>
                            <p class="card-text">
                              Quis enim consequat elit eu ut do irure fugiat pariatur. Anim in Lorem aute irure
                              in ullamco magna adipisicing. Veniam culpa ut pariatur
                              consequat Lorem qui qui. Elit veniam aliquip ut deserunt
                              Lorem et cupidatat exercitation laborum. Ut nulla
                              elit adipisicing ut ex nisi ea. Ad ea est anim dolor
                              irure dolor velit incididunt irure. Irure consequat
                              duis nisi eiusmod pariatur veniam. In ullamco occaecat
                              dolor tempor minim aute ullamco ex.
                            </p>
                          </div>
                          <div class="card-block">
                            <div class="rating" data-score="2" data-nummber="5" data-plugin="rating">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-6 spot-info" data-spot-id="s_5">
                        <div class="card card-shadow">
                          <div class="card-header cover overlay">
                            <img class="cover-image" src="../../../../global/photos/city-3-720x480.jpg" alt="spot_photo"
                            />
                            <div class="overlay-panel">
                              <div class="card-actions float-right">
                                <a href="javascript:void(0)">
                                <i class="icon wb-heart-outline text" aria-hidden="true"></i>
                                <i class="icon wb-heart text-active" aria-hidden="true"></i>
                              </a>
                              </div>
                            </div>
                          </div>
                          <div class="card-block">
                            <h3 class="card-title item-title">
                              The street in Beijing
                            </h3>
                            <span class="item-name">
                              officia
                            </span>
                            <p class="card-text type-link">
                              <small>
                                Posted in
                                <a href="javascript:void(0)">
                                  consequat
                                </a>
                              </small>
                            </p>
                            <p class="card-text">
                              Ex amet dolore reprehenderit ea et ullamco veniam. Lorem exercitation ad id sit
                              pariatur. Ipsum veniam proident ex ullamco anim minim
                              reprehenderit culpa. Anim aliquip dolore commodo
                              cupidatat consequat. Irure aute ipsum do consectetur
                              aliqua. Esse labore magna enim tempor voluptate incididunt.
                              Velit fugiat qui occaecat reprehenderit fugiat et.
                              Elit reprehenderit cupidatat aliquip sint officia
                              anim laboris.
                            </p>
                          </div>
                          <div class="card-block">
                            <div class="rating" data-score="4" data-nummber="5" data-plugin="rating">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane animation-fade" id="hotels" role="tabpanel" aria-expanded="false">
                    <div class="hotels-list row">
                      <div class="col-lg-6 hotel-info" data-hotel-id="h_1">
                        <div class="card card-block card-inverse card-primary">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-4-720x480.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            aliqua veniam
                          </h4>
                          <p class="card-text item-title">
                            Tempor anim non ea quis velit ut. Officia mollit et culpa nulla. Consequat laborum
                            eu minim tempor incididunt.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="4" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 hotel-info" data-hotel-id="h_2">
                        <div class="card card-block card-inverse card-success">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-5-720x480.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            consequat Lorem
                          </h4>
                          <p class="card-text item-title">
                            Amet in nulla aliquip excepteur culpa. Mollit fugiat id occaecat aute. Elit laborum
                            voluptate velit labore laboris Lorem incididunt.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="5" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 hotel-info" data-hotel-id="h_3">
                        <div class="card card-block card-inverse card-danger">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-7-960x480.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            laboris non
                          </h4>
                          <p class="card-text item-title">
                            Id ea nulla amet in ipsum. Commodo eu ut qui quis proident in est. In ad sunt qui
                            et reprehenderit irure culpa.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="2" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 hotel-info" data-hotel-id="h_4">
                        <div class="card card-block card-inverse card-info">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-8-960x640.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            aute aliqua
                          </h4>
                          <p class="card-text item-title">
                            Sit nostrud fugiat irure do laboris quis consectetur. Sunt ex exercitation aute
                            proident exercitation officia. Mollit laboris velit
                            mollit amet nulla sint dolor.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="3" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 hotel-info" data-hotel-id="h_5">
                        <div class="card card-block card-inverse card-success">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-6-960x640.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            cillum aliquip
                          </h4>
                          <p class="card-text item-title">
                            Eiusmod pariatur ea deserunt reprehenderit fugiat eu elit. Do ullamco adipisicing
                            eu nostrud. Ea laboris ipsum consectetur sunt.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="4" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 hotel-info" data-hotel-id="h_6">
                        <div class="card card-block card-inverse card-primary">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-9-960x640.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            occaecat in
                          </h4>
                          <p class="card-text item-title">
                            Cupidatat ad in do reprehenderit consectetur velit. Occaecat nulla eiusmod ullamco
                            sint Lorem aliquip. Et exercitation sit sint esse amet
                            id enim.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="4" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane animation-fade page-content-table bg-white" id="reviews" role="tabpanel"
                    aria-expanded="false">
                    <ul class="reviews-list">
                      <li class="reviews-header">
                        <p>
                          <span class="float-right pl-10"><b class="percent">97%</b>approval rating</span>
                          <span>438 Have review this place</span>
                        </p>
                      </li>
                      <li>
                        <ul class="list-group list-group-dividered reviews-list">
                          <li class="list-group-item review-info" data-review-id="">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/undefined">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">John very like the spots</h5>
                                <div class="rating" data-plugin="rating" data-score="5" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">The Mountain in Japan</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_1">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/5.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">id ea</h5>
                                <div class="rating" data-plugin="rating" data-score="4" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">non culpa</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_2">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/6.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">ad qui</h5>
                                <div class="rating" data-plugin="rating" data-score="2" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">dolore fugiat</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_3">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/7.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">non do</h5>
                                <div class="rating" data-plugin="rating" data-score="5" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">qui mollit</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_4">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/8.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">qui ut</h5>
                                <div class="rating" data-plugin="rating" data-score="3" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">excepteur labore</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_5">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/1.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">anim do</h5>
                                <div class="rating" data-plugin="rating" data-score="4" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">ad do</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_6">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/10.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">voluptate culpa</h5>
                                <div class="rating" data-plugin="rating" data-score="1" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">id consectetur</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_7">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/2.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">ad minim</h5>
                                <div class="rating" data-plugin="rating" data-score="3" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">magna ullamco</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_8">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/11.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">labore cillum</h5>
                                <div class="rating" data-plugin="rating" data-score="1" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">proident Lorem</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_9">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/2.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">non do</h5>
                                <div class="rating" data-plugin="rating" data-score="5" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">id exercitation</span>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Travel Options Siderbar -->
      <div class="page-main">
        <div id="map">
        </div>
      </div>
    </div>

  {{/content}}
{{/extend}}