---
title: Travel
body_class: app-travel
---

{{#extend "layout-default"}}
  {{#content "css_vendor" mode="append"}}
    <link rel="stylesheet" href="{{global}}/vendor/mapbox-js/mapbox.css">
  {{/content}}

  {{#content "css" mode="prepend"}}
    <link rel="stylesheet" href="{{assets}}/examples/css/apps/travel.css">
  {{/content}}


  {{#content "js_vendor" mode="append"}}
    <script src="{{global}}/vendor/raty/jquery.raty.js"></script>
    <script src="{{global}}/vendor/slidepanel/jquery-slidePanel.js"></script>
    <script src="{{global}}/vendor/mapbox-js/mapbox.js"></script>
    <script src="{{global}}/vendor/mapbox-js/leaflet.markercluster.js"></script>
  {{/content}}

  {{#content "js" mode="append"}}
    <script src="{{global}}/js/Plugin/raty.js"></script>
  {{/content}}

  {{#content "js" mode="append"}}
    <script src="{{assets}}/js/Site.js"></script>
    <script src="{{assets}}/js/App/Travel.js"></script>
  {{/content}}

  {{#content "scripts" mode="replace"}}
    <script src="{{assets}}/examples/js/apps/travel.js"></script>
  {{/content}}

  {{#content "body"}}

    <!-- Page -->
    <div class="page">
      <!-- Travel Options Siderbar -->
      <div class="page-aside">
        <div class="page-aside-switch">
          <i class="icon wb-chevron-left" aria-hidden="true"></i>
          <i class="icon wb-chevron-right" aria-hidden="true"></i>
        </div>
        <div class="page-aside-inner nav-tabs-animate">
          <div class="page-nav-tabs">
            <ul class="nav nav-tabs nav-tabs-line" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link active" data-toggle="tab" href="#spots" aria-controls="travel-spots"
                  aria-expanded="false" role="tab">Spots</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" data-toggle="tab" href="#hotels" aria-controls="travel-hotels"
                  aria-expanded="true" role="tab">Hotels</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" data-toggle="tab" href="#reviews" aria-controls="travel-reviews"
                  aria-expanded="false" role="tab">Reviews</a>
              </li>
            </ul>
          </div>
          <div class="page-aside-content page-aside-scroll">
            <div data-role="container">
              <div data-role="content">
                <div class="tab-content">
                  <div class="tab-pane animation-fade active" id="spots" role="tabpanel" aria-expanded="ture">
                    <div class="spots-list row">
                      <div class="col-xxl-6 spot-info" data-spot-id="s_1">
                        <div class="card card-shadow">
                          <div class="card-header cover overlay">
                            <img class="cover-image" src="../../../../global/photos/animal-1-720x480.jpg" alt="spot_photo"
                            />
                            <div class="overlay-panel">
                              <div class="card-actions float-right">
                                <a href="javascript:void(0)">
                                <i class="icon wb-heart-outline text" aria-hidden="true"></i>
                                <i class="icon wb-heart text-active" aria-hidden="true"></i>
                              </a>
                              </div>
                            </div>
                          </div>
                          <div class="card-block">
                            <h3 class="card-title item-title">
                              The Mountain in Japan
                            </h3>
                            <span class="item-name">
                              nisi
                            </span>
                            <p class="card-text type-link">
                              <small>
                                Posted in
                                <a href="javascript:void(0)">
                                  sit
                                </a>
                              </small>
                            </p>
                            <p class="card-text">
                              Ullamco mollit duis enim non ad enim adipisicing aliqua. Voluptate enim mollit
                              commodo esse cillum consequat. Adipisicing nostrud
                              eiusmod adipisicing consequat aute irure elit adipisicing.
                              Dolore eiusmod occaecat proident sit dolor. Proident
                              duis nulla proident reprehenderit. Voluptate quis
                              ex labore qui minim reprehenderit est. Irure reprehenderit
                              eu ipsum id non in magna minim. Irure fugiat veniam
                              incididunt nostrud eiusmod.
                            </p>
                          </div>
                          <div class="card-block">
                            <div class="rating" data-score="4" data-nummber="5" data-plugin="rating">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-6 spot-info" data-spot-id="s_2">
                        <div class="card card-shadow">
                          <div class="card-header cover overlay">
                            <img class="cover-image" src="../../../../global/photos/city-1-720x480.jpg" alt="spot_photo"
                            />
                            <div class="overlay-panel">
                              <div class="card-actions float-right">
                                <a href="javascript:void(0)">
                                <i class="icon wb-heart-outline text" aria-hidden="true"></i>
                                <i class="icon wb-heart text-active" aria-hidden="true"></i>
                              </a>
                              </div>
                            </div>
                          </div>
                          <div class="card-block">
                            <h3 class="card-title item-title">
                              The City of French
                            </h3>
                            <span class="item-name">
                              commodo
                            </span>
                            <p class="card-text type-link">
                              <small>
                                Posted in
                                <a href="javascript:void(0)">
                                  cupidatat
                                </a>
                              </small>
                            </p>
                            <p class="card-text">
                              Ullamco veniam in in laboris est labore qui ad pariatur. Anim in mollit ea nulla
                              aliquip. Ad amet officia proident sunt occaecat esse
                              Lorem officia proident. Ullamco anim magna minim
                              et proident. Commodo proident qui laborum ex enim
                              deserunt. Aliquip ex aliqua ullamco ut labore ea
                              amet dolore irure. Et aute cupidatat commodo ea adipisicing
                              qui commodo eu. Deserunt laboris aliqua nostrud aliqua.
                            </p>
                          </div>
                          <div class="card-block">
                            <div class="rating" data-score="3" data-nummber="5" data-plugin="rating">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-6 spot-info" data-spot-id="s_3">
                        <div class="card card-shadow">
                          <div class="card-header cover overlay">
                            <img class="cover-image" src="../../../../global/photos/city-2-720x480.jpg" alt="spot_photo"
                            />
                            <div class="overlay-panel">
                              <div class="card-actions float-right">
                                <a href="javascript:void(0)">
                                <i class="icon wb-heart-outline text" aria-hidden="true"></i>
                                <i class="icon wb-heart text-active" aria-hidden="true"></i>
                              </a>
                              </div>
                            </div>
                          </div>
                          <div class="card-block">
                            <h3 class="card-title item-title">
                              The Bund of Shanghai
                            </h3>
                            <span class="item-name">
                              anim
                            </span>
                            <p class="card-text type-link">
                              <small>
                                Posted in
                                <a href="javascript:void(0)">
                                  et
                                </a>
                              </small>
                            </p>
                            <p class="card-text">
                              Est id fugiat voluptate mollit est voluptate sunt est amet. Ullamco quis aute do
                              aliqua eiusmod voluptate. Anim pariatur sunt ullamco
                              irure est non eiusmod commodo. Irure ad anim do duis.
                              Minim aute incididunt cillum et laborum. Eiusmod
                              ad esse ea commodo nisi commodo cupidatat. Et cupidatat
                              non pariatur minim labore in consequat nisi. Eu amet
                              non pariatur ex laborum velit.
                            </p>
                          </div>
                          <div class="card-block">
                            <div class="rating" data-score="5" data-nummber="5" data-plugin="rating">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-6 spot-info" data-spot-id="s_4">
                        <div class="card card-shadow">
                          <div class="card-header cover overlay">
                            <img class="cover-image" src="../../../../global/photos/city-4-720x480.jpg" alt="spot_photo"
                            />
                            <div class="overlay-panel">
                              <div class="card-actions float-right">
                                <a href="javascript:void(0)">
                                <i class="icon wb-heart-outline text" aria-hidden="true"></i>
                                <i class="icon wb-heart text-active" aria-hidden="true"></i>
                              </a>
                              </div>
                            </div>
                          </div>
                          <div class="card-block">
                            <h3 class="card-title item-title">
                              The Park in New York
                            </h3>
                            <span class="item-name">
                              in
                            </span>
                            <p class="card-text type-link">
                              <small>
                                Posted in
                                <a href="javascript:void(0)">
                                  et
                                </a>
                              </small>
                            </p>
                            <p class="card-text">
                              Incididunt elit laboris excepteur do officia. Consectetur est minim sit proident
                              minim nisi. Minim dolor quis excepteur voluptate
                              magna occaecat. Amet irure fugiat cupidatat ipsum
                              occaecat qui commodo. Ullamco enim proident cillum
                              elit velit consectetur excepteur amet. Magna officia
                              excepteur veniam laborum est. Aliquip ad ad cupidatat
                              adipisicing labore nisi et. Sit sit ad exercitation
                              tempor incididunt ipsum minim ipsum.
                            </p>
                          </div>
                          <div class="card-block">
                            <div class="rating" data-score="2" data-nummber="5" data-plugin="rating">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-6 spot-info" data-spot-id="s_5">
                        <div class="card card-shadow">
                          <div class="card-header cover overlay">
                            <img class="cover-image" src="../../../../global/photos/city-3-720x480.jpg" alt="spot_photo"
                            />
                            <div class="overlay-panel">
                              <div class="card-actions float-right">
                                <a href="javascript:void(0)">
                                <i class="icon wb-heart-outline text" aria-hidden="true"></i>
                                <i class="icon wb-heart text-active" aria-hidden="true"></i>
                              </a>
                              </div>
                            </div>
                          </div>
                          <div class="card-block">
                            <h3 class="card-title item-title">
                              The street in Beijing
                            </h3>
                            <span class="item-name">
                              Lorem
                            </span>
                            <p class="card-text type-link">
                              <small>
                                Posted in
                                <a href="javascript:void(0)">
                                  commodo
                                </a>
                              </small>
                            </p>
                            <p class="card-text">
                              Tempor proident qui officia non officia ad. Sint ex Lorem consequat amet adipisicing
                              nulla tempor proident exercitation. Voluptate labore
                              pariatur est consequat dolor. Adipisicing non eiusmod
                              in aliquip irure. Anim laborum ut dolore tempor.
                              Aliqua veniam Lorem occaecat et qui. Esse fugiat
                              laborum officia labore culpa commodo in. Non voluptate
                              veniam non in reprehenderit excepteur veniam sint
                              dolor.
                            </p>
                          </div>
                          <div class="card-block">
                            <div class="rating" data-score="4" data-nummber="5" data-plugin="rating">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane animation-fade" id="hotels" role="tabpanel" aria-expanded="false">
                    <div class="hotels-list row">
                      <div class="col-lg-6 hotel-info" data-hotel-id="h_1">
                        <div class="card card-block card-inverse card-primary">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-4-720x480.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            eiusmod velit
                          </h4>
                          <p class="card-text item-title">
                            Et ex amet dolor fugiat ad. Ut laboris fugiat est officia. Non fugiat ex quis proident
                            qui culpa.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="4" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 hotel-info" data-hotel-id="h_2">
                        <div class="card card-block card-inverse card-success">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-5-720x480.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            adipisicing minim
                          </h4>
                          <p class="card-text item-title">
                            Dolore sint qui laborum ad pariatur cillum proident. Ullamco Lorem qui tempor dolor.
                            Laborum voluptate id fugiat sit.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="5" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 hotel-info" data-hotel-id="h_3">
                        <div class="card card-block card-inverse card-danger">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-7-960x480.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            est laborum
                          </h4>
                          <p class="card-text item-title">
                            Irure dolor nisi quis do. Occaecat laborum anim labore adipisicing pariatur nostrud.
                            Dolore esse nisi occaecat nostrud.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="2" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 hotel-info" data-hotel-id="h_4">
                        <div class="card card-block card-inverse card-info">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-8-960x640.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            irure ipsum
                          </h4>
                          <p class="card-text item-title">
                            Aute Lorem laboris id ad proident id. Cupidatat ea do reprehenderit sunt eu dolor
                            sunt. Magna in irure consequat anim.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="3" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 hotel-info" data-hotel-id="h_5">
                        <div class="card card-block card-inverse card-success">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-6-960x640.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            officia magna
                          </h4>
                          <p class="card-text item-title">
                            Non dolor amet pariatur ut do ea. Ad exercitation ad veniam reprehenderit eu. Sint
                            voluptate veniam consectetur enim elit ut.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="4" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 hotel-info" data-hotel-id="h_6">
                        <div class="card card-block card-inverse card-primary">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-9-960x640.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            et dolor
                          </h4>
                          <p class="card-text item-title">
                            Laborum Lorem magna dolore exercitation adipisicing ea. Aliqua aute aliquip aliquip
                            aliqua Lorem. Nisi non anim consectetur ipsum.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="4" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane animation-fade page-content-table bg-white" id="reviews" role="tabpanel"
                    aria-expanded="false">
                    <ul class="reviews-list">
                      <li class="reviews-header">
                        <p>
                          <span class="float-right pl-10"><b class="percent">97%</b>approval rating</span>
                          <span>438 Have review this place</span>
                        </p>
                      </li>
                      <li>
                        <ul class="list-group list-group-dividered reviews-list">
                          <li class="list-group-item review-info" data-review-id="">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/undefined">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">John very like the spots</h5>
                                <div class="rating" data-plugin="rating" data-score="5" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">The Mountain in Japan</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_1">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/5.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">nostrud pariatur</h5>
                                <div class="rating" data-plugin="rating" data-score="4" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">anim magna</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_2">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/6.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">in voluptate</h5>
                                <div class="rating" data-plugin="rating" data-score="2" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">culpa elit</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_3">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/7.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">tempor anim</h5>
                                <div class="rating" data-plugin="rating" data-score="5" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">aute in</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_4">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/8.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">mollit nisi</h5>
                                <div class="rating" data-plugin="rating" data-score="3" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">cupidatat velit</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_5">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/1.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">ad nisi</h5>
                                <div class="rating" data-plugin="rating" data-score="4" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">magna est</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_6">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/10.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">sit ad</h5>
                                <div class="rating" data-plugin="rating" data-score="1" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">voluptate consectetur</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_7">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/2.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">cillum irure</h5>
                                <div class="rating" data-plugin="rating" data-score="3" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">officia incididunt</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_8">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/11.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">aute deserunt</h5>
                                <div class="rating" data-plugin="rating" data-score="1" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">culpa do</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_9">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/2.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">Lorem sit</h5>
                                <div class="rating" data-plugin="rating" data-score="5" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">nostrud qui</span>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Travel Options Siderbar -->
      <div class="page-main">
        <div id="map">
        </div>
      </div>
    </div>

  {{/content}}
{{/extend}}