---
title: Travel
body_class: app-travel
---

{{#extend "layout-default"}}
  {{#content "css_vendor" mode="append"}}
    <link rel="stylesheet" href="{{global}}/vendor/mapbox-js/mapbox.css">
  {{/content}}

  {{#content "css" mode="prepend"}}
    <link rel="stylesheet" href="{{assets}}/examples/css/apps/travel.css">
  {{/content}}


  {{#content "js_vendor" mode="append"}}
    <script src="{{global}}/vendor/raty/jquery.raty.js"></script>
    <script src="{{global}}/vendor/slidepanel/jquery-slidePanel.js"></script>
    <script src="{{global}}/vendor/mapbox-js/mapbox.js"></script>
    <script src="{{global}}/vendor/mapbox-js/leaflet.markercluster.js"></script>
  {{/content}}

  {{#content "js" mode="append"}}
    <script src="{{global}}/js/Plugin/raty.js"></script>
  {{/content}}

  {{#content "js" mode="append"}}
    <script src="{{assets}}/js/Site.js"></script>
    <script src="{{assets}}/js/App/Travel.js"></script>
  {{/content}}

  {{#content "scripts" mode="replace"}}
    <script src="{{assets}}/examples/js/apps/travel.js"></script>
  {{/content}}

  {{#content "body"}}

    <!-- Page -->
    <div class="page">
      <!-- Travel Options Siderbar -->
      <div class="page-aside">
        <div class="page-aside-switch">
          <i class="icon md-chevron-left" aria-hidden="true"></i>
          <i class="icon md-chevron-right" aria-hidden="true"></i>
        </div>
        <div class="page-aside-inner nav-tabs-animate">
          <div class="page-nav-tabs">
            <ul class="nav nav-tabs nav-tabs-line" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link active" data-toggle="tab" href="#spots" aria-controls="travel-spots"
                  aria-expanded="false" role="tab">Spots</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" data-toggle="tab" href="#hotels" aria-controls="travel-hotels"
                  aria-expanded="true" role="tab">Hotels</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" data-toggle="tab" href="#reviews" aria-controls="travel-reviews"
                  aria-expanded="false" role="tab">Reviews</a>
              </li>
            </ul>
          </div>
          <div class="page-aside-content page-aside-scroll">
            <div data-role="container">
              <div data-role="content">
                <div class="tab-content">
                  <div class="tab-pane animation-fade active" id="spots" role="tabpanel" aria-expanded="ture">
                    <div class="spots-list row">
                      <div class="col-xxl-6 spot-info" data-spot-id="s_1">
                        <div class="card card-shadow">
                          <div class="card-header cover overlay">
                            <img class="cover-image" src="../../../../global/photos/animal-1-720x480.jpg" alt="spot_photo"
                            />
                            <div class="overlay-panel">
                              <div class="card-actions float-right">
                                <a href="javascript:void(0)">
                                <i class="icon md-favorite-outline text" aria-hidden="true"></i>
                                <i class="icon md-favorite text-active" aria-hidden="true"></i>
                              </a>
                              </div>
                            </div>
                          </div>
                          <div class="card-block">
                            <h3 class="card-title item-title">
                              The Mountain in Japan
                            </h3>
                            <span class="item-name">
                              anim
                            </span>
                            <p class="card-text type-link">
                              <small>
                                Posted in
                                <a href="javascript:void(0)">
                                  magna
                                </a>
                              </small>
                            </p>
                            <p class="card-text">
                              Eu laborum non sit laborum occaecat mollit laboris amet officia. Aute consequat
                              irure labore labore officia ad sit ut officia. Quis
                              nulla sunt ullamco tempor proident. Consectetur occaecat
                              excepteur elit consequat pariatur reprehenderit fugiat
                              non sint. Consequat est do consequat nostrud officia.
                              Ad adipisicing irure veniam cupidatat ipsum cillum
                              cillum. Consectetur enim irure do sint nisi occaecat
                              occaecat qui. Esse exercitation et adipisicing ex
                              anim velit amet velit voluptate.
                            </p>
                          </div>
                          <div class="card-block">
                            <div class="rating" data-score="4" data-nummber="5" data-plugin="rating">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-6 spot-info" data-spot-id="s_2">
                        <div class="card card-shadow">
                          <div class="card-header cover overlay">
                            <img class="cover-image" src="../../../../global/photos/city-1-720x480.jpg" alt="spot_photo"
                            />
                            <div class="overlay-panel">
                              <div class="card-actions float-right">
                                <a href="javascript:void(0)">
                                <i class="icon md-favorite-outline text" aria-hidden="true"></i>
                                <i class="icon md-favorite text-active" aria-hidden="true"></i>
                              </a>
                              </div>
                            </div>
                          </div>
                          <div class="card-block">
                            <h3 class="card-title item-title">
                              The City of French
                            </h3>
                            <span class="item-name">
                              voluptate
                            </span>
                            <p class="card-text type-link">
                              <small>
                                Posted in
                                <a href="javascript:void(0)">
                                  in
                                </a>
                              </small>
                            </p>
                            <p class="card-text">
                              Sint anim Lorem nostrud anim eiusmod sit ipsum cillum. Enim nostrud velit qui laborum
                              dolore ullamco aliqua anim veniam. Elit est sunt
                              ad mollit culpa. Incididunt aliquip esse et nisi
                              dolor excepteur esse sit. Consectetur in sit ullamco
                              commodo veniam magna eu. Aliquip occaecat aute veniam
                              amet qui sit. In anim esse enim consequat et. Reprehenderit
                              eiusmod duis officia eiusmod commodo voluptate duis.
                            </p>
                          </div>
                          <div class="card-block">
                            <div class="rating" data-score="3" data-nummber="5" data-plugin="rating">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-6 spot-info" data-spot-id="s_3">
                        <div class="card card-shadow">
                          <div class="card-header cover overlay">
                            <img class="cover-image" src="../../../../global/photos/city-2-720x480.jpg" alt="spot_photo"
                            />
                            <div class="overlay-panel">
                              <div class="card-actions float-right">
                                <a href="javascript:void(0)">
                                <i class="icon md-favorite-outline text" aria-hidden="true"></i>
                                <i class="icon md-favorite text-active" aria-hidden="true"></i>
                              </a>
                              </div>
                            </div>
                          </div>
                          <div class="card-block">
                            <h3 class="card-title item-title">
                              The Bund of Shanghai
                            </h3>
                            <span class="item-name">
                              Lorem
                            </span>
                            <p class="card-text type-link">
                              <small>
                                Posted in
                                <a href="javascript:void(0)">
                                  aliqua
                                </a>
                              </small>
                            </p>
                            <p class="card-text">
                              Sint cillum esse in in pariatur. Mollit nisi occaecat ullamco eiusmod proident
                              enim. Ullamco id incididunt minim laboris consequat.
                              Occaecat sit proident esse elit elit. Ipsum dolore
                              aliqua sint esse culpa Lorem. Ex do exercitation
                              dolor adipisicing cupidatat. Consequat irure voluptate
                              nostrud cillum exercitation culpa pariatur. Ut qui
                              id id culpa quis ex ea esse deserunt.
                            </p>
                          </div>
                          <div class="card-block">
                            <div class="rating" data-score="5" data-nummber="5" data-plugin="rating">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-6 spot-info" data-spot-id="s_4">
                        <div class="card card-shadow">
                          <div class="card-header cover overlay">
                            <img class="cover-image" src="../../../../global/photos/city-4-720x480.jpg" alt="spot_photo"
                            />
                            <div class="overlay-panel">
                              <div class="card-actions float-right">
                                <a href="javascript:void(0)">
                                <i class="icon md-favorite-outline text" aria-hidden="true"></i>
                                <i class="icon md-favorite text-active" aria-hidden="true"></i>
                              </a>
                              </div>
                            </div>
                          </div>
                          <div class="card-block">
                            <h3 class="card-title item-title">
                              The Park in New York
                            </h3>
                            <span class="item-name">
                              cillum
                            </span>
                            <p class="card-text type-link">
                              <small>
                                Posted in
                                <a href="javascript:void(0)">
                                  sit
                                </a>
                              </small>
                            </p>
                            <p class="card-text">
                              Laborum anim veniam reprehenderit velit consequat dolor adipisicing laboris veniam.
                              Est tempor excepteur irure quis aute magna veniam.
                              Amet amet elit cillum excepteur proident laborum
                              duis nulla. Reprehenderit sit cillum veniam consectetur
                              aliqua commodo voluptate voluptate ipsum. Reprehenderit
                              do occaecat laboris ex Lorem. Ea et duis eu quis
                              incididunt minim dolor. Laboris reprehenderit consequat
                              sint dolor. Occaecat enim et nostrud ullamco voluptate
                              adipisicing ea exercitation.
                            </p>
                          </div>
                          <div class="card-block">
                            <div class="rating" data-score="2" data-nummber="5" data-plugin="rating">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-6 spot-info" data-spot-id="s_5">
                        <div class="card card-shadow">
                          <div class="card-header cover overlay">
                            <img class="cover-image" src="../../../../global/photos/city-3-720x480.jpg" alt="spot_photo"
                            />
                            <div class="overlay-panel">
                              <div class="card-actions float-right">
                                <a href="javascript:void(0)">
                                <i class="icon md-favorite-outline text" aria-hidden="true"></i>
                                <i class="icon md-favorite text-active" aria-hidden="true"></i>
                              </a>
                              </div>
                            </div>
                          </div>
                          <div class="card-block">
                            <h3 class="card-title item-title">
                              The street in Beijing
                            </h3>
                            <span class="item-name">
                              Lorem
                            </span>
                            <p class="card-text type-link">
                              <small>
                                Posted in
                                <a href="javascript:void(0)">
                                  velit
                                </a>
                              </small>
                            </p>
                            <p class="card-text">
                              Esse nulla nisi nulla eu veniam ea consequat enim ad. Cupidatat esse Lorem sit
                              tempor ut enim. Incididunt sit quis sunt commodo
                              aliquip. Consectetur sit velit eu dolor commodo sunt.
                              Velit ex nostrud officia commodo nisi veniam consequat
                              laboris ea. Minim anim amet dolor amet sit qui tempor.
                              Sint fugiat dolor ipsum labore veniam minim. Est
                              id amet magna duis ut magna fugiat.
                            </p>
                          </div>
                          <div class="card-block">
                            <div class="rating" data-score="4" data-nummber="5" data-plugin="rating">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane animation-fade" id="hotels" role="tabpanel" aria-expanded="false">
                    <div class="hotels-list row">
                      <div class="col-lg-6 hotel-info" data-hotel-id="h_1">
                        <div class="card card-block card-inverse card-primary">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-4-720x480.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            excepteur nulla
                          </h4>
                          <p class="card-text item-title">
                            Exercitation reprehenderit amet velit irure consectetur culpa enim. Anim ea pariatur
                            nostrud ut velit ullamco non. Consequat nostrud deserunt
                            pariatur labore ut mollit.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="4" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 hotel-info" data-hotel-id="h_2">
                        <div class="card card-block card-inverse card-success">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-5-720x480.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            eu amet
                          </h4>
                          <p class="card-text item-title">
                            Amet ut mollit consectetur reprehenderit aliquip. Officia nostrud quis dolore dolor
                            exercitation nisi. Ipsum enim quis quis non.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="5" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 hotel-info" data-hotel-id="h_3">
                        <div class="card card-block card-inverse card-danger">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-7-960x480.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            qui in
                          </h4>
                          <p class="card-text item-title">
                            Quis ad eu in elit ea magna magna. Pariatur quis labore exercitation minim voluptate
                            id. Do ullamco velit amet aliquip laborum.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="2" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 hotel-info" data-hotel-id="h_4">
                        <div class="card card-block card-inverse card-info">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-8-960x640.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            consectetur eu
                          </h4>
                          <p class="card-text item-title">
                            In nulla quis ad eiusmod fugiat consequat. Lorem velit reprehenderit nulla ullamco
                            laboris eiusmod elit. Enim qui voluptate mollit irure
                            aliqua do.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="3" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 hotel-info" data-hotel-id="h_5">
                        <div class="card card-block card-inverse card-success">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-6-960x640.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            nisi voluptate
                          </h4>
                          <p class="card-text item-title">
                            Eiusmod irure dolore fugiat pariatur proident consectetur. Cupidatat ullamco duis
                            enim id ullamco. Exercitation excepteur ad mollit aute.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="4" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 hotel-info" data-hotel-id="h_6">
                        <div class="card card-block card-inverse card-primary">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-9-960x640.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            irure ipsum
                          </h4>
                          <p class="card-text item-title">
                            Sunt amet ad fugiat incididunt. Commodo ipsum id ea ad. In adipisicing elit fugiat
                            ea eu ullamco.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="4" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane animation-fade page-content-table bg-white" id="reviews" role="tabpanel"
                    aria-expanded="false">
                    <ul class="reviews-list">
                      <li class="reviews-header">
                        <p>
                          <span class="float-right pl-10"><b class="percent">97%</b>approval rating</span>
                          <span>438 Have review this place</span>
                        </p>
                      </li>
                      <li>
                        <ul class="list-group list-group-dividered reviews-list">
                          <li class="list-group-item review-info" data-review-id="r_1">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/5.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">anim quis</h5>
                                <div class="rating" data-plugin="rating" data-score="4" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">quis nisi</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_2">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/6.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">deserunt occaecat</h5>
                                <div class="rating" data-plugin="rating" data-score="2" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">magna deserunt</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_3">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/7.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">enim proident</h5>
                                <div class="rating" data-plugin="rating" data-score="5" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">ea adipisicing</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_4">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/8.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">adipisicing aliquip</h5>
                                <div class="rating" data-plugin="rating" data-score="3" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">aliqua ut</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_5">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/1.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">quis aute</h5>
                                <div class="rating" data-plugin="rating" data-score="4" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">aliqua veniam</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_6">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/10.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">sunt eu</h5>
                                <div class="rating" data-plugin="rating" data-score="1" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">nisi magna</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_7">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/2.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">ea consectetur</h5>
                                <div class="rating" data-plugin="rating" data-score="3" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">ipsum commodo</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_8">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/11.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">aliquip nulla</h5>
                                <div class="rating" data-plugin="rating" data-score="1" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">sunt nostrud</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_9">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/2.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">excepteur et</h5>
                                <div class="rating" data-plugin="rating" data-score="5" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">qui qui</span>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Travel Options Siderbar -->
      <div class="page-main">
        <div id="map">
        </div>
      </div>
    </div>

  {{/content}}
{{/extend}}