.nice-select {
    width: 100%;
    margin: 10px auto;
    
}
.btnrow {
    text-align: center;
}

/* ***************** */
.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio { 
}
.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: brown;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color : brown; 
  
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}


/* ******* TEXT BOX START ********** */

/* form starting stylings ------------------------------- */
.input-group        { 
  position:relative; 
  margin-bottom:45px; 
}
input[type=text],input[type=tel]
{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #00BFFF;
}
input[type=text]:focus,input[type=tel]:focus
{ outline:none; }
/* LABEL ======================================= */
label.fancytextinputlabels          {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
}

/* active state */
input[type=text]:focus ~ label.fancytextinputlabels, 
input[type=text]:valid ~ label.fancytextinputlabels     ,
input[type=tel]:focus ~ label.fancytextinputlabels, 
input[type=tel]:valid ~ label.fancytextinputlabels     
{
  top:-20px;
  font-size:14px;
  color:#000;
}

/* BOTTOM BARS ================================= */
.bar  { position:relative; display:block; width:300px; }
.bar:before, .bar:after   {
  content:'';
  height:2px; 
  width:0;
  bottom:.5px; 
  position:absolute;
  background:#00BFFF; 
  transition:0.2s ease all; 
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input[type=text]:focus ~ .bar:before, 
input[type=text]:focus ~ .bar:after,
input[type=tel]:focus ~ .bar:before, 
input[type=tel]:focus ~ .bar:after 
{
  width:50%;
}

/* *********TEXT BOX END ***************************************** */

.accordionclass .panel-heading { padding: 0;}
.accordionclass .panel-title > a {
	display: block;
	padding: 0.4em 0.6em;
    outline: none; 
    text-decoration: none;
}

.accordionclass .panel-title > a.accordion-toggle::before, 
.accordionclass a[data-toggle="collapse"]::before  {
    content:"\f061";
    float: left;
    font-family: 'FontAwesome';
	margin-right :1em; 
    transform: rotate(0deg);
    transition: all 0.5s;
    font-weight: 300;
}
.accordionclass .panel-title > a.accordion-toggle.collapsed::before, 
.accordionclass a.collapsed[data-toggle="collapse"]::before  {
    content:"\f063";
    transform: rotate(360deg);
}
 
.overallbox {
    text-align:center; 
    padding: 10px 50px;
    margin: 50px 0px;
}

table.paymenttable {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
}

/* *********Better accordian ***************************************** */

#divaccordion_2, 
#divaccordion_3,
#divaccordion_4,
#divaccordion_5,
#divaccordion_6,
#divaccordion_7,
#divaccordion_8,
#divaccordion_9{
    display: none;
}

a.no_underline_on_hover:hover
{ 
    text-decoration:none;
    cursor:pointer;
} 

a.btn-primary:link,
a.btn-primary:visited,
a.btn-primary:hover,
a.btn-primary:active{
    color: #fff;
}

/* ******Portfolio Start********* */

.circle {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 0;
  padding: 50% 0;
  border-radius: 50%;
  
  /* Just making it pretty */
  @shadow: rgba(0, 0, 0, .1);
  @shadow-length: 4px;
  -webkit-box-shadow: 0 @shadow-length 0 0 @shadow;
          box-shadow: 0 @shadow-length 0 0 @shadow;
  text-shadow: 0 @shadow-length 0 @shadow;
  color: white;
  font-family: Helvetica, Arial Black, sans;
  font-size: 30px;
  text-align: center;
}

.circle-blue {
  background:#38a9e4;
}

.circle-green {
  background:#449d44;
}
.circle-red {
  background:#c9302c;
}
.circle-orange {
  background:#ec971f;
}

.pull-center {
  text-align:center;
}
/* *******Portfolio end********* */

.panel-mainform .panel-heading a.collapse_a_heading:link,
.panel-mainform .panel-heading a.collapse_a_heading:visited,
.panel-mainform .panel-heading a.collapse_a_heading:hover,
.panel-mainform .panel-heading a.collapse_a_heading:active{
    color: #fff;
    background-color: #f96868;
    font-size:16px;
    font-weight: 300;
} 
.panel-mainform select {
    width: 100%;    
}
.mainselect_div {
    margin-bottom: 20px; 
}