#whats-new-form .animate {
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	#whats-new-form .info-card {
		width: 100%; 
		position: relative; 
		margin-bottom: 20px;
		overflow: hidden;
        text-align: center;
        margin-top: 18px;
	}
	#whats-new-form .info-card > img {
		width: 150px;
		margin-bottom: 60px;
	}
	#whats-new-form .info-card .info-card-details,
	#whats-new-form .info-card .info-card-details .info-card-header  {
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: -100%;
		left: 0;
		padding: 0 15px;
		background: rgb(255, 255, 255);
		text-align: center;
	}
	#whats-new-form .info-card .info-card-details::-webkit-scrollbar {
		width: 8px;
	}
	#whats-new-form .info-card .info-card-details::-webkit-scrollbar-button {
		width: 8px;
		height: 0px;
	}
	#whats-new-form .info-card .info-card-details::-webkit-scrollbar-track {
		background: transparent;
	}
	#whats-new-form .info-card .info-card-details::-webkit-scrollbar-thumb {
		background: rgb(160, 160, 160);
	}
	#whats-new-form .info-card .info-card-details::-webkit-scrollbar-thumb:hover {
		background: rgb(130, 130, 130);
	}           

	#whats-new-form .info-card .info-card-details .info-card-header {
		height: auto;		
		bottom: 100%;
		padding: 10px 5px;
	}
	#whats-new-form .info-card:hover .info-card-details {
		bottom: 0px;
		overflow: auto;
		padding-bottom: 25px;
	}
	#whats-new-form .info-card:hover .info-card-details .info-card-header {
		position: relative;
		bottom: 0px;
		padding-top: 10px;
		padding-bottom: 25px;
	}
	#whats-new-form .info-card .info-card-details .info-card-header h1,	
	#whats-new-form .info-card .info-card-details .info-card-header h3 {
		color: rgb(62, 62, 62);
		font-size: 22px;
		font-weight: 900;
		text-transform: uppercase;
		margin: 0 !important;
		padding: 0 !important;
	}
	#whats-new-form .info-card .info-card-details .info-card-header h3 {
		color: rgb(142, 182, 52);
		font-size: 15px;
		font-weight: 400;
		margin-top: 5px;
	}
	#whats-new-form .info-card .info-card-details .info-card-detail .social {
		list-style: none;
		padding: 0px;
		margin-top: 25px;
		text-align: center;
	}
	#whats-new-form .info-card .info-card-details .info-card-detail .social a {
		position: relative;
		display: inline-block;
		min-width: 40px;
		padding: 10px 0px;
		margin: 0px 5px;
		overflow: hidden;
		text-align: center;
		background-color: rgb(215, 215, 215);
		border-radius: 40px;
	}
.info-card img{
    height:200px;
}