---
title: Travel
body_class: app-travel
---

{{#extend "layout-default"}}
  {{#content "css_vendor" mode="append"}}
    <link rel="stylesheet" href="{{global}}/vendor/mapbox-js/mapbox.css">
  {{/content}}

  {{#content "css" mode="prepend"}}
    <link rel="stylesheet" href="{{assets}}/examples/css/apps/travel.css">
  {{/content}}


  {{#content "js_vendor" mode="append"}}
    <script src="{{global}}/vendor/raty/jquery.raty.js"></script>
    <script src="{{global}}/vendor/slidepanel/jquery-slidePanel.js"></script>
    <script src="{{global}}/vendor/mapbox-js/mapbox.js"></script>
    <script src="{{global}}/vendor/mapbox-js/leaflet.markercluster.js"></script>
  {{/content}}

  {{#content "js" mode="append"}}
    <script src="{{global}}/js/Plugin/raty.js"></script>
  {{/content}}

  {{#content "js" mode="append"}}
    <script src="{{assets}}/js/Site.js"></script>
    <script src="{{assets}}/js/App/Travel.js"></script>
  {{/content}}

  {{#content "scripts" mode="replace"}}
    <script src="{{assets}}/examples/js/apps/travel.js"></script>
  {{/content}}

  {{#content "body"}}

    <!-- Page -->
    <div class="page">
      <!-- Travel Options Siderbar -->
      <div class="page-aside">
        <div class="page-aside-switch">
          <i class="icon md-chevron-left" aria-hidden="true"></i>
          <i class="icon md-chevron-right" aria-hidden="true"></i>
        </div>
        <div class="page-aside-inner nav-tabs-animate">
          <div class="page-nav-tabs">
            <ul class="nav nav-tabs nav-tabs-line" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link active" data-toggle="tab" href="#spots" aria-controls="travel-spots"
                  aria-expanded="false" role="tab">Spots</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" data-toggle="tab" href="#hotels" aria-controls="travel-hotels"
                  aria-expanded="true" role="tab">Hotels</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" data-toggle="tab" href="#reviews" aria-controls="travel-reviews"
                  aria-expanded="false" role="tab">Reviews</a>
              </li>
            </ul>
          </div>
          <div class="page-aside-content page-aside-scroll">
            <div data-role="container">
              <div data-role="content">
                <div class="tab-content">
                  <div class="tab-pane animation-fade active" id="spots" role="tabpanel" aria-expanded="ture">
                    <div class="spots-list row">
                      <div class="col-xxl-6 spot-info" data-spot-id="s_1">
                        <div class="card card-shadow">
                          <div class="card-header cover overlay">
                            <img class="cover-image" src="../../../../global/photos/animal-1-720x480.jpg" alt="spot_photo"
                            />
                            <div class="overlay-panel">
                              <div class="card-actions float-right">
                                <a href="javascript:void(0)">
                                <i class="icon md-favorite-outline text" aria-hidden="true"></i>
                                <i class="icon md-favorite text-active" aria-hidden="true"></i>
                              </a>
                              </div>
                            </div>
                          </div>
                          <div class="card-block">
                            <h3 class="card-title item-title">
                              The Mountain in Japan
                            </h3>
                            <span class="item-name">
                              eu
                            </span>
                            <p class="card-text type-link">
                              <small>
                                Posted in
                                <a href="javascript:void(0)">
                                  pariatur
                                </a>
                              </small>
                            </p>
                            <p class="card-text">
                              Culpa cupidatat reprehenderit mollit ea consequat id. Amet et duis dolore anim
                              excepteur. Sunt id cillum ut velit. Culpa elit mollit
                              consectetur est. Adipisicing ullamco aliqua ullamco
                              in sit officia in. Lorem exercitation velit magna
                              voluptate. Aliqua officia dolore sunt nisi. Excepteur
                              tempor adipisicing sint tempor dolore est.
                            </p>
                          </div>
                          <div class="card-block">
                            <div class="rating" data-score="4" data-nummber="5" data-plugin="rating">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-6 spot-info" data-spot-id="s_2">
                        <div class="card card-shadow">
                          <div class="card-header cover overlay">
                            <img class="cover-image" src="../../../../global/photos/city-1-720x480.jpg" alt="spot_photo"
                            />
                            <div class="overlay-panel">
                              <div class="card-actions float-right">
                                <a href="javascript:void(0)">
                                <i class="icon md-favorite-outline text" aria-hidden="true"></i>
                                <i class="icon md-favorite text-active" aria-hidden="true"></i>
                              </a>
                              </div>
                            </div>
                          </div>
                          <div class="card-block">
                            <h3 class="card-title item-title">
                              The City of French
                            </h3>
                            <span class="item-name">
                              non
                            </span>
                            <p class="card-text type-link">
                              <small>
                                Posted in
                                <a href="javascript:void(0)">
                                  ullamco
                                </a>
                              </small>
                            </p>
                            <p class="card-text">
                              Veniam excepteur aliqua dolor qui dolore. Laborum adipisicing sunt adipisicing
                              non minim mollit enim ipsum. Est deserunt non enim
                              non dolore voluptate aute sit do. Irure do magna
                              est duis est quis tempor proident dolore. Laboris
                              do minim mollit excepteur ex anim Lorem. Do ex et
                              nostrud velit laborum. Fugiat voluptate ea magna
                              Lorem eiusmod ex do velit. In laborum ut irure aliquip
                              do occaecat labore esse eu.
                            </p>
                          </div>
                          <div class="card-block">
                            <div class="rating" data-score="3" data-nummber="5" data-plugin="rating">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-6 spot-info" data-spot-id="s_3">
                        <div class="card card-shadow">
                          <div class="card-header cover overlay">
                            <img class="cover-image" src="../../../../global/photos/city-2-720x480.jpg" alt="spot_photo"
                            />
                            <div class="overlay-panel">
                              <div class="card-actions float-right">
                                <a href="javascript:void(0)">
                                <i class="icon md-favorite-outline text" aria-hidden="true"></i>
                                <i class="icon md-favorite text-active" aria-hidden="true"></i>
                              </a>
                              </div>
                            </div>
                          </div>
                          <div class="card-block">
                            <h3 class="card-title item-title">
                              The Bund of Shanghai
                            </h3>
                            <span class="item-name">
                              magna
                            </span>
                            <p class="card-text type-link">
                              <small>
                                Posted in
                                <a href="javascript:void(0)">
                                  qui
                                </a>
                              </small>
                            </p>
                            <p class="card-text">
                              Exercitation aliqua laborum occaecat eu esse ea enim. Consectetur voluptate deserunt
                              ea ex cupidatat culpa et dolore. Pariatur dolore
                              nostrud ea ipsum ipsum voluptate aliquip reprehenderit.
                              Magna eu ipsum incididunt nostrud ad. Minim ex deserunt
                              anim nulla deserunt. In pariatur consequat labore
                              velit. Cillum occaecat esse officia elit officia
                              excepteur est ut excepteur. Deserunt esse voluptate
                              cupidatat nostrud qui cillum.
                            </p>
                          </div>
                          <div class="card-block">
                            <div class="rating" data-score="5" data-nummber="5" data-plugin="rating">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-6 spot-info" data-spot-id="s_4">
                        <div class="card card-shadow">
                          <div class="card-header cover overlay">
                            <img class="cover-image" src="../../../../global/photos/city-4-720x480.jpg" alt="spot_photo"
                            />
                            <div class="overlay-panel">
                              <div class="card-actions float-right">
                                <a href="javascript:void(0)">
                                <i class="icon md-favorite-outline text" aria-hidden="true"></i>
                                <i class="icon md-favorite text-active" aria-hidden="true"></i>
                              </a>
                              </div>
                            </div>
                          </div>
                          <div class="card-block">
                            <h3 class="card-title item-title">
                              The Park in New York
                            </h3>
                            <span class="item-name">
                              esse
                            </span>
                            <p class="card-text type-link">
                              <small>
                                Posted in
                                <a href="javascript:void(0)">
                                  id
                                </a>
                              </small>
                            </p>
                            <p class="card-text">
                              Officia incididunt in sit fugiat ex ipsum cillum amet. Adipisicing qui magna ad
                              in veniam ut occaecat. Dolor adipisicing pariatur
                              sint voluptate culpa velit occaecat velit. Pariatur
                              deserunt cillum et consequat sint quis. Minim mollit
                              excepteur excepteur dolor est commodo amet id. Labore
                              est ex ipsum nostrud dolor aliqua. Qui excepteur
                              aute non aliquip. Mollit eiusmod non ea mollit id
                              ut commodo.
                            </p>
                          </div>
                          <div class="card-block">
                            <div class="rating" data-score="2" data-nummber="5" data-plugin="rating">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-6 spot-info" data-spot-id="s_5">
                        <div class="card card-shadow">
                          <div class="card-header cover overlay">
                            <img class="cover-image" src="../../../../global/photos/city-3-720x480.jpg" alt="spot_photo"
                            />
                            <div class="overlay-panel">
                              <div class="card-actions float-right">
                                <a href="javascript:void(0)">
                                <i class="icon md-favorite-outline text" aria-hidden="true"></i>
                                <i class="icon md-favorite text-active" aria-hidden="true"></i>
                              </a>
                              </div>
                            </div>
                          </div>
                          <div class="card-block">
                            <h3 class="card-title item-title">
                              The street in Beijing
                            </h3>
                            <span class="item-name">
                              cillum
                            </span>
                            <p class="card-text type-link">
                              <small>
                                Posted in
                                <a href="javascript:void(0)">
                                  Lorem
                                </a>
                              </small>
                            </p>
                            <p class="card-text">
                              Ea laboris ex ea aute velit do officia sint. In laboris qui ea adipisicing. Voluptate
                              nisi elit proident non. Ullamco proident adipisicing
                              id do pariatur do amet minim. Nostrud pariatur in
                              ad aliqua amet id ea. Sint magna pariatur laborum
                              fugiat mollit et. Tempor elit non ad officia ipsum
                              labore ut excepteur officia. Minim ex adipisicing
                              quis esse enim.
                            </p>
                          </div>
                          <div class="card-block">
                            <div class="rating" data-score="4" data-nummber="5" data-plugin="rating">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane animation-fade" id="hotels" role="tabpanel" aria-expanded="false">
                    <div class="hotels-list row">
                      <div class="col-lg-6 hotel-info" data-hotel-id="h_1">
                        <div class="card card-block card-inverse card-primary">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-4-720x480.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            pariatur fugiat
                          </h4>
                          <p class="card-text item-title">
                            Commodo anim eiusmod est veniam enim cillum. Incididunt fugiat elit magna pariatur
                            nisi mollit. Deserunt culpa ea culpa velit et.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="4" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 hotel-info" data-hotel-id="h_2">
                        <div class="card card-block card-inverse card-success">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-5-720x480.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            occaecat consectetur
                          </h4>
                          <p class="card-text item-title">
                            Occaecat anim ad ad minim excepteur. Reprehenderit incididunt culpa incididunt
                            quis sint nulla sunt. Ut irure sint enim dolor.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="5" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 hotel-info" data-hotel-id="h_3">
                        <div class="card card-block card-inverse card-danger">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-7-960x480.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            eiusmod nisi
                          </h4>
                          <p class="card-text item-title">
                            Mollit fugiat aliqua velit et. Cupidatat enim dolor ad in officia in aute. Incididunt
                            magna irure pariatur deserunt tempor proident.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="2" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 hotel-info" data-hotel-id="h_4">
                        <div class="card card-block card-inverse card-info">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-8-960x640.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            do do
                          </h4>
                          <p class="card-text item-title">
                            Labore sunt velit quis mollit consequat nostrud commodo. Nisi Lorem aliquip aute
                            officia ut reprehenderit. Magna proident laborum irure
                            tempor fugiat dolore laboris.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="3" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 hotel-info" data-hotel-id="h_5">
                        <div class="card card-block card-inverse card-success">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-6-960x640.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            nostrud commodo
                          </h4>
                          <p class="card-text item-title">
                            Amet ea deserunt ut laboris eu ullamco. Quis ut voluptate excepteur veniam culpa
                            aute anim. Incididunt tempor enim voluptate consectetur.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="4" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 hotel-info" data-hotel-id="h_6">
                        <div class="card card-block card-inverse card-primary">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-9-960x640.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            consectetur quis
                          </h4>
                          <p class="card-text item-title">
                            Consectetur dolor incididunt Lorem incididunt fugiat. In aute cupidatat est excepteur.
                            Qui commodo sit proident ipsum ad ad.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="4" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane animation-fade page-content-table bg-white" id="reviews" role="tabpanel"
                    aria-expanded="false">
                    <ul class="reviews-list">
                      <li class="reviews-header">
                        <p>
                          <span class="float-right pl-10"><b class="percent">97%</b>approval rating</span>
                          <span>438 Have review this place</span>
                        </p>
                      </li>
                      <li>
                        <ul class="list-group list-group-dividered reviews-list">
                          <li class="list-group-item review-info" data-review-id="r_1">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/5.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">ipsum ad</h5>
                                <div class="rating" data-plugin="rating" data-score="4" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">esse mollit</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_2">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/6.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">ut est</h5>
                                <div class="rating" data-plugin="rating" data-score="2" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">ad labore</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_3">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/7.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">ex voluptate</h5>
                                <div class="rating" data-plugin="rating" data-score="5" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">dolor veniam</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_4">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/8.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">eiusmod amet</h5>
                                <div class="rating" data-plugin="rating" data-score="3" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">in amet</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_5">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/1.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">ipsum pariatur</h5>
                                <div class="rating" data-plugin="rating" data-score="4" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">cupidatat veniam</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_6">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/10.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">Lorem ipsum</h5>
                                <div class="rating" data-plugin="rating" data-score="1" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">pariatur labore</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_7">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/2.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">eu officia</h5>
                                <div class="rating" data-plugin="rating" data-score="3" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">cupidatat voluptate</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_8">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/11.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">ipsum et</h5>
                                <div class="rating" data-plugin="rating" data-score="1" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">est fugiat</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_9">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{global}}/portraits/2.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h5 class="mt-0 mb-5 item-name">magna et</h5>
                                <div class="rating" data-plugin="rating" data-score="5" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">fugiat fugiat</span>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Travel Options Siderbar -->
      <div class="page-main">
        <div id="map">
        </div>
      </div>
    </div>

  {{/content}}
{{/extend}}