@charset "utf-8";
/* ------------------------------------------------------------------------- /
	[ Documentation | Go - Responsive Pricing & Compare Tables for WP - styles.css ]
/ -------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------- /
	[1] RESET - http://meyerweb.com/eric/tools/css/reset/
/ -------------------------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
body { line-height:1; }
ol, ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
/* ------------------------------------------------------------------------- /
	[2]	SETUP - general settings, common classes, clearfix
/ -------------------------------------------------------------------------- */

body {
	background:#FFF;
	color:#3D3D3D;
	font:12px/20px 'Open Sans', sans-serif;
}
a {
	color:#7BAF14;
	text-decoration:none;
	outline:none;
}
a:hover {
	color:#333;
	text-decoration:none;
}
p, ul { margin-bottom:20px; }
p ul ul { margin-bottom:0; }
ul li, ul li ul { padding-left:15px; }
ul.bullet > li { background:url(../images/bullet_point.png) 0 7px no-repeat; }
h1, h2, h3 {
	line-height:32px;
	margin-bottom:20px;
}
h1 { font-size:33px; }
h2, h1 span { font-size:23px; }
h3 { font-size:18px; }
h1 span {
	color:#AFB2B8;
	display:block;
	font-weight:300;
	margin-top:20px;
}
pre {
	background:url(../images/code_bg.png) repeat;
	border:solid 1px #F3F3F3;
	font-family:"Courier New", Courier, monospace;
	margin-bottom:20px;
	overflow:hidden;	
	padding:0 5px;
}
pre:hover { overflow:visible; }
pre strong { color:#7BAF14; }
strong { font-weight:bold; }

/* common styles */
.clear {
	clear:both;
	display:block;
	font-size:0;
	height:0;
	line-height:0;
	width:100%;
}
.nspace-90 { margin-bottom:-90px !important; }
.nspace-80 { margin-bottom:-80px !important; }
.nspace-70 { margin-bottom:-70px !important; }
.nspace-60 { margin-bottom:-60px !important; }
.nspace-50 { margin-bottom:-50px !important; }
.nspace-20 { margin-bottom:-20px !important; }
.nspace-10 { margin-bottom:-10px !important; }
.space-60 { margin-bottom:60px !important; }
.space-50 { margin-bottom:50px !important; }
.space-20 { margin-bottom:20px !important; }
.space-10 { margin-bottom:10px !important; }
.section { clear:both; }
.separator {
	clear:both;
	border:none;
	border-bottom:solid 1px #AFB2B8;
	height:20px;
	margin:30px 0 50px;
	width:100%;
}
.last {
	margin-right:0 !important;
	clear:right;
}
.one-half {
	float:left;
	margin-right:3%;
	position:relative;
	width:48.5%;	
}
.notes {
	background:url(../images/icon.png) 0 3px no-repeat;
	padding-left:50px;
	height:50px;
	height:auto;
	min-height:50px;
	margin-bottom:20px;
}
.sticky {
	position:fixed !important;
	left:auto !important;
	top:0 !important;
}
.faq-q h3 { margin-bottom:5px; }
.faq-a { display:none; }

/* ------------------------------------------------------------------------- /
	[3]	LAYOUT 
/ -------------------------------------------------------------------------- */

/* wrappers & containers */
#wrapper, . wrapper {
	clear:both;
	position:relative;
	width:100%;
}
.container {
	clear:both;
	margin:0 auto;
	position:relative;
	width:960px;
}
.content {
	float:left;
	padding:50px 0;
	width:778px;
}

/* header */
#header .container {
	background:url(../images/head.png) 0 0 no-repeat;
	height:229px;
	overflow:hidden;
}
#title {
	margin-left:216px;
	margin-top:50px;
}
#side-border {
	background:#AFB2B8;
	height:4px;
	position:absolute;
	right:-4px;
	width:186px;
	top:200px;
	z-index:9999;
}
/* main */
#credits {
	border-bottom:solid 1px #AFB2B8;
	float:left;
	padding:50px 0 30px;
}
#credits .container { border-left:solid 4px #AFB2B8; }
#credits p { padding-left:212px; }

/* footer */
#footer .content { padding:50px 0 25px; }
#footer p {
	color:#AFB2B8;
	font-size:23px;
	line-height:30px;
	font-weight:300;
}

/* -------------------------------------------------------------------------------- /
	[4] NAVIGATION
/ -------------------------------------------------------------------------------- */
	
#navigation {
	overflow:hidden;
	position:absolute;
	margin-left:778px;
	top:251px;
	width:186px;
	z-index:9999;
}
#navigation li {
	background:none;
	padding-left:0;
	-moz-transition:background-color 0.1s ease-out;
	-webkit-transition:background-color 0.1s ease-out;
	transition:background-color 0.1s ease-out;
}
#navigation > li { margin-top:1px; }
#navigation > li:first-child { margin-top:0; }
#navigation > li.parent { background:url(../images/submenu_small_arow_c1.png) no-repeat left 15px; }
#navigation > li:hover, #navigation > li.current {
	background-color:#F3F3F3;
	border-right:solid 4px #AFB2B8;
}
#navigation > li > a {
	color:#3d3d3d;
	display:block;
	font-size:16px;
	height:36px;
	line-height:18px;
	margin-left:-2px;
	padding-left:10px;
	padding-top:4px;
	position:relative;
	z-index:10;
}
#navigation ul {
	border-top:1px solid transparent;
	display:none;
	margin-bottom:0;
	padding-left:0;
}
#navigation ul li {
	border-right:solid 4px #AFB2B8;
	background:#3D3D3D;
}
#navigation > li:hover ul li, #navigation > li.current ul li { margin-right:-4px; }
#navigation ul li a {
	border-top:solid 1px #5A5A5C;
	color:#F3F3F3;
	display:block;
	height:24px;
	line-height:25px;
	padding-left:31px;
}
#navigation ul li:first-child a { border-top:none; }
#navigation ul li:hover, #navigation ul li.current { background:#7BAF14; }
#navigation ul li:hover a, #navigation ul li.current a { color:#3D3D3D; }
#navigation .menu-number {
	color:#AFB2B8;
	float:left;
	font-size:38px;
	line-height:38px;
	margin-right:10px;
	margin-top:-2px;
}
#navigation .menu-desc {
	color:#7BAF14;
	display:block;
	font-size:12px;
}

/* ------------------------------------------------------------------------- /
	[5]	SCROLL TO TOP
/ -------------------------------------------------------------------------- */

#scroll-top {
	bottom:10px;
	color:#AFB2B8;
	font-size:10px;
	height:56px;
	margin-left:836px;
	position:fixed;
	text-align:center;
	width:70px;
	z-index:999;
}
#scroll-top a {
	background:url(../images/top_button_letterpress.png) 0 0 no-repeat;
	display:block;
	float:left;
	height:38px;
	margin-left:16px;
	width:37px;
}
#scroll-top:hover { color:#3D3D3D; }
#scroll-top:hover a { background-position:0 -38px; }