body {
     font-family: Roboto,sans-serif; 
}
#main-container {

}
#buddypress #activity-stream p { 
    font-family: sans-serif;
    font-size: 15px;  
    color:#444;
}
.mytagoptions {
    
}    
.pull-center {
    text-align: center;
}
#whats-new-submit {
    display:none;
}
.cssacomment, .myacform {
    clear: both;
}
#buddypress form#whats-new-form textarea, #ctltype, #ctlsubtype {
  height: 200px;
}
#buddypress form#whats-new-form #whats-new-content {
      margin-left: 0px; 
      padding: 0px;  
}
.activity-meta .custommeta {
      display:none;
}
.pull-right {
      float:right;
}
#topulwithlinks {
      float:right;
}
#buddypress{
    color:#111;
}


#buddypress ul.item-list li .activity-timeline, 
#buddypress ul.item-list li .activity-read-more  {
    border-width: 0px;
}

#buddypress ul.item-list li {
    padding: 15px 0;
    margin: 0;
    position: relative;
    list-style: none;
    padding: 20px;
    border-left: 1px solid #e4eaec;
    border-right: 1px solid #e4eaec;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #e4eaec;
} 
#main-container .row > .sidebar  {
    border-color:#fff;
} 
#buddypress .activity-header a,
#buddypress .activity-header a:link,
#buddypress .activity-header a:visited,
#buddypress .activity-header a:active{
    font-weight: normal;
}


ul#activity-stream .activity .activity-content {
    border-bottom-color: #fff;
}

/*Badges*/
.badge.badge-outline {
    color: #f3f7f9;
    background-color: transparent;
    border-color: #f3f7f9
}

.badge.up {
    position: relative;
    top: -10px;
    margin: 0 -.8em;
    border-radius: 15px
}

.badge-outline {
    border: 1px solid transparent
}

.badge-round {
    border-radius: 1em
}

.badge-pill {
    padding: 3px 6px
}

.badge-pill:empty {
    display: none
}

.btn .badge-pill {
    top: 0
}

.btn-group-xs>.btn .badge-pill,
.btn-xs .badge-pill {
    top: 0;
    padding: 1px 5px
}

a .badge-pill:focus,
a .badge-pill:hover {
    text-decoration: none;
    cursor: pointer
}

.list-group-item>.badge-pill {
    -ms-flex-order: 1;
    order: 1;
    float: right;
    margin-left: auto
}

.list-group-item>.badge-pill+.badge-pill {
    margin-right: 5px
}

.nav-pills>li>a>.badge-pill {
    margin-left: 3px
}

.badge-default {
    color: #76838f
}

.badge-default[href]:focus,
.badge-default[href]:hover {
    background-color: #f3f7f9
}

.badge-default.badge-outline {
    color: #e4eaec;
    background-color: transparent;
    border-color: #e4eaec
}

.badge-default[href]:focus,
.badge-default[href]:hover {
    color: #a3afb7
}

.badge-default.badge-outline {
    color: #76838f
}

.badge-primary[href]:focus,
.badge-primary[href]:hover {
    background-color: #589ffc
}

.badge-primary.badge-outline {
    color: #3e8ef7;
    background-color: transparent;
    border-color: #3e8ef7
}

.badge-success[href]:focus,
.badge-success[href]:hover {
    background-color: #28d17c
}

.badge-success.badge-outline {
    color: #11c26d;
    background-color: transparent;
    border-color: #11c26d
}

.badge-info[href]:focus,
.badge-info[href]:hover {
    background-color: #28c0de
}

.badge-info.badge-outline {
    color: #0bb2d4;
    background-color: transparent;
    border-color: #0bb2d4
}

.badge-warning[href]:focus,
.badge-warning[href]:hover {
    background-color: #f57d1b
}

.badge-warning.badge-outline {
    color: #eb6709;
    background-color: transparent;
    border-color: #eb6709
}

.badge-danger[href]:focus,
.badge-danger[href]:hover {
    background-color: #ff666b
}

.badge-danger.badge-outline {
    color: #ff4c52;
    background-color: transparent;
    border-color: #ff4c52
}

.badge-dark {
    color: #fff;
    background-color: #526069
}

.badge-dark[href]:focus,
.badge-dark[href]:hover {
    background-color: #76838f
}

.badge-dark.badge-outline {
    color: #526069;
    background-color: transparent;
    border-color: #526069
}
.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem
}

.badge-primary {
    color: #fff;
    background-color: #007bff
}

.badge-primary[href]:focus,
.badge-primary[href]:hover {
    color: #fff;
    text-decoration: none;
    background-color: #0062cc
}

.badge-secondary {
    color: #fff;
    background-color: #868e96
}

.badge-secondary[href]:focus,
.badge-secondary[href]:hover {
    color: #fff;
    text-decoration: none;
    background-color: #6c757d
}

.badge-success {
    color: #fff;
    background-color: #28a745
}

.badge-success[href]:focus,
.badge-success[href]:hover {
    color: #fff;
    text-decoration: none;
    background-color: #1e7e34
}

.badge-info {
    color: #fff;
    background-color: #17a2b8
}

.badge-info[href]:focus,
.badge-info[href]:hover {
    color: #fff;
    text-decoration: none;
    background-color: #117a8b
}

.badge-warning {
    color: #111;
    background-color: #ffc107
}

.badge-warning[href]:focus,
.badge-warning[href]:hover {
    color: #111;
    text-decoration: none;
    background-color: #d39e00
}

.badge-danger {
    color: #fff;
    background-color: #dc3545
}

.badge-danger[href]:focus,
.badge-danger[href]:hover {
    color: #fff;
    text-decoration: none;
    background-color: #bd2130
}

.badge-light {
    color: #111;
    background-color: #f8f9fa
}

.badge-light[href]:focus,
.badge-light[href]:hover {
    color: #111;
    text-decoration: none;
    background-color: #dae0e5
}

.badge-dark {
    color: #fff;
    background-color: #343a40
}

.badge-dark[href]:focus,
.badge-dark[href]:hover {
    color: #fff;
    text-decoration: none;
    background-color: #1d2124
}
#buddypress .badge {
    font-weight: 300;
} 


#reportstab .btn-allreports  {
    background-color: #4e97d9; 
    border-width: 0px;
}
#reportstab .btn-report , .btn-red  {
    background-color: #f96868; 
    border-width: 0px;
}

ul#reportstab {
    border-bottom: 0px solid #fff;
}

a.btn-red:link, 
a.btn-red:visited ,
a.btn-red:hover, 
a.btn-red:active {
    color:#fff;
    padding:10px 10px;
}

#reportstab a.mainbtns:link, 
#reportstab a.mainbtns:visited ,
#reportstab a.mainbtns:hover, 
#reportstab a.mainbtns:active {
    color:#fff;
}

.btnrow a.mainbtns:link, 
.btnrow a.mainbtns:visited ,
.btnrow a.mainbtns:hover, 
.btnrow a.mainbtns:active {
    color:#fff;
}
 
#buddypress #formsbt button {
    color:#fff;
    background-color: #f96868; 
    border-width: 0px;    
    padding:0px 30px;
}

#whats-new-form h3.panel-title {
    color:#fff;
}

#recentActivityWidget .myformcol {
    padding:0px;
}

#whats-new-form select, #whats-new-form .input-group {
    width: 100%;
}
#whats-new-form .panel-primary>.panel-heading {
    color: #fff;
    background-color: #4e97d9;
    border-color: #4e97d9;
}
#whats-new-form .panel-primary  { 
    border-color: #4e97d9;
} 
#whats-new-form select, 
#Whats-new-form p,
#Whats-new-form, #Whats-new-form input {
    color:#111;
}
}
optgroup {
    font-weight: 400; 
}
.bigicon {
    font-size: 100px;
    height: 200px;
    margin-bottom: 60px;
    color:#4e97d9;
}

/*Homepage */
.starter-template {
  padding: 40px 15px;
  text-align: center;
  color: #222;
  text-align: left; 
}
@media screen and (min-width: 480px) {
    #homepagecontainer .starter-template {
        margin-top:170px;
    }
} 
.page-header span {
    color: #000; 
    /* color: #26a1e0; */
}
#homepagecontainer .main_heading .page-header span { 
    font-size: 65px; 
}
#homepagecontainer .main_heading .lead {
    font-size: 25px;
}
h1.page-header   {
	font-size:50px;
    margin:0px;
}

.starter-template h1.page-header {
  border-bottom: 1px solid #ddd;
}
.green-alert{

	background-color: rgb(50, 179, 106);
	color:white;
	padding:15px 20px;
	margin:0px;
}

/* stylish-panel */
.stylish-panel {
    padding: 20px 0;
    text-align: center;
}
.stylish-panel > div > div{
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: 0.2s;
}
.stylish-panel > div:hover > div{
    margin-top: -10px; 
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px; */
    transition: 0.5s;
}

.stylish-panel > div:hover img {
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.stylish-panel .insideicons {
    font-size: 40px;
    line-height: 0px;
}

/* testimonials */
.Testimonials .nav.nav-justified > li > a { position: relative; }
.Testimonials .nav.nav-justified > li > a:hover,
.Testimonials .nav.nav-justified > li > a:focus { background-color: transparent; }
.Testimonials .nav.nav-justified > li > a > .quote {
    position: absolute;
    left: 0px;
    top: 0;
    opacity: 0;
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: #13c0ba;
    border-radius: 15px;
    color: #fff;  
}
.Testimonials .nav.nav-justified > li.active > a > .quote { opacity: 1; }
.Testimonials .nav.nav-justified > li > a > img { box-shadow: 0 0 0 5px #13c0ba; }
.Testimonials .nav.nav-justified > li > a > img {
    max-width: 100%; 
    opacity: .3; 
    -webkit-transform: scale(.8,.8);
            transform: scale(.8,.8);
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.Testimonials .nav.nav-justified > li.active > a > img,
.Testimonials .nav.nav-justified > li:hover > a > img,
.Testimonials .nav.nav-justified > li:focus > a > img {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.Testimonials .tab-pane .tab-inner { padding: 30px 0 20px;text-align: center; }
@media (min-width: 768px) {
    .Testimonials .nav.nav-justified > li > a > .quote {
        left: auto;
        top: auto;
        right: 20px;
        bottom: 0px;
    }  
}
.ihc-ap-menu {
    display: none;
}


.insideicon {
    width: 100px;
    margin: 0 auto;
    padding-bottom: 20px;
    font-size: 50px;
    color: #4e97d9;
}


.safetyline {
	border:1px solid red;
	position: absolute;  
	top:0px; 
	z-index:999;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


.offsidestylishpanel {
	text-align: center;
	padding: 20px;
}

.offsidestylishpanel .insideicons {
    font-size: 40px;
    line-height: 0px;
}

#homepage_active_report #activity-stream li {
    border-left: 0px solid #fff;
    border-right: 0px solid #fff;
}
#homepage_active_report #activity-stream {
    height: 500px;
    overflow: hidden;
    border: 1px solid #ddd;
}

#homepage_active_report #activity-stream li div.activity-comments{
    display:none;
}
.header-color .top-menu li > a, 
.header-color #top-social li a {
    color: #fff;
}
#buddypress .activity-inner  {  
    padding: 10px;
    color: #444;
    border-radius: 10px;
}
#buddypress .activity-inner,
#buddypress  .activity-inner .activity-read-more a {
    background-color: #f5f5f5;
}
#logo_img {
    margin-top: -4px;
    height: 50px;
}

/* GT Tiles on homepage */


#gt_tiles .tile-progress {
background-color: #303641;
color: #fff;
}
#gt_tiles .tile-progress {
background: #00a65b;
color: #fff;
margin-bottom: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
#gt_tiles .tile-progress .tile-header {
padding: 15px 20px;
padding-bottom: 40px;
}
#gt_tiles .tile-progress .tile-progressbar {
height: 2px;
background: rgba(0,0,0,0.18);
margin: 0;
}
#gt_tiles .tile-progress .tile-progressbar span {
background: #fff;
}
#gt_tiles .tile-progress .tile-progressbar span {
display: block;
background: #fff;
width: 0;
height: 100%;
-webkit-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
-moz-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
-o-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
}
#gt_tiles .tile-progress .tile-footer {
padding: 20px;
text-align: right;
background: rgba(0,0,0,0.1);
-webkit-border-radius: 0 0 3px 3px;
-webkit-background-clip: padding-box;
-moz-border-radius: 0 0 3px 3px;
-moz-background-clip: padding;
border-radius: 0 0 3px 3px;
background-clip: padding-box;
-webkit-border-radius: 0 0 3px 3px;
-moz-border-radius: 0 0 3px 3px;
border-radius: 0 0 3px 3px;
}
#gt_tiles .tile-progress.tile-red {
background-color: #f56954;
color: #fff;
}
#gt_tiles .tile-progress {
background-color: #303641;
color: #fff;
}
#gt_tiles .tile-progress.tile-blue {
background-color: #0073b7;
color: #fff;
}
#gt_tiles .tile-progress.tile-aqua {
background-color: #00c0ef;
color: #fff;
}
#gt_tiles .tile-progress.tile-green {
background-color: #00a65a;
color: #fff;
}
#gt_tiles .tile-progress.tile-cyan {
background-color: #00b29e;
color: #fff;
}
#gt_tiles .tile-progress.tile-purple {
background-color: #ba79cb;
color: #fff;
}
#gt_tiles .tile-progress.tile-pink {
background-color: #ec3b83;
color: #fff;
}
#gt_tiles .tile-progress  h3, #gt_tiles .tile-progress  h4 {
    color: #fff;
}

/* Other */
.leadreportbtn {
  text-align: center;
  margin-top: 40px;
}

/* Colors */
.bg-red-100 {
    background-color: #ffdbdc!important
}

.bg-red-200 {
    background-color: #ffbfc1!important
}

.bg-red-300 {
    background-color: #ffa1a4!important
}

.bg-red-400 {
    background-color: #ff8589!important
}

.bg-red-500 {
    background-color: #ff666b!important
}

.bg-red-600 {
    background-color: #ff4c52!important
}

.bg-red-700 {
    background-color: #f2353c!important
}

.bg-red-800 {
    background-color: #e62020!important
}

.bg-red-900 {
    background-color: #d60b0b!important
}

.red-100 {
    color: #ffdbdc!important
}

.red-200 {
    color: #ffbfc1!important
}

.red-300 {
    color: #ffa1a4!important
}

.red-400 {
    color: #ff8589!important
}

.red-500 {
    color: #ff666b!important
}

.red-600 {
    color: #ff4c52!important
}

.red-700 {
    color: #f2353c!important
}

.red-800 {
    color: #e62020!important
}

.red-900 {
    color: #d60b0b!important
}

.bg-pink-100 {
    background-color: #ffd9e6!important
}

.bg-pink-200 {
    background-color: #ffbad2!important
}

.bg-pink-300 {
    background-color: #ff9ec0!important
}

.bg-pink-400 {
    background-color: #ff7daa!important
}

.bg-pink-500 {
    background-color: #ff5e97!important
}

.bg-pink-600 {
    background-color: #f74584!important
}

.bg-pink-700 {
    background-color: #eb2f71!important
}

.bg-pink-800 {
    background-color: #e6155e!important
}

.bg-pink-900 {
    background-color: #d10049!important
}

.pink-100 {
    color: #ffd9e6!important
}

.pink-200 {
    color: #ffbad2!important
}

.pink-300 {
    color: #ff9ec0!important
}

.pink-400 {
    color: #ff7daa!important
}

.pink-500 {
    color: #ff5e97!important
}

.pink-600 {
    color: #f74584!important
}

.pink-700 {
    color: #eb2f71!important
}

.pink-800 {
    color: #e6155e!important
}

.pink-900 {
    color: #d10049!important
}

.bg-purple-100 {
    background-color: #eae1fc!important
}

.bg-purple-200 {
    background-color: #d9c7fc!important
}

.bg-purple-300 {
    background-color: #c8aefc!important
}

.bg-purple-400 {
    background-color: #b693fa!important
}

.bg-purple-500 {
    background-color: #a57afa!important
}

.bg-purple-600 {
    background-color: #9463f7!important
}

.bg-purple-700 {
    background-color: #8349f5!important
}

.bg-purple-800 {
    background-color: #7231f5!important
}

.bg-purple-900 {
    background-color: #6118f2!important
}

.purple-100 {
    color: #eae1fc!important
}

.purple-200 {
    color: #d9c7fc!important
}

.purple-300 {
    color: #c8aefc!important
}

.purple-400 {
    color: #b693fa!important
}

.purple-500 {
    color: #a57afa!important
}

.purple-600 {
    color: #9463f7!important
}

.purple-700 {
    color: #8349f5!important
}

.purple-800 {
    color: #7231f5!important
}

.purple-900 {
    color: #6118f2!important
}

.bg-indigo-100 {
    background-color: #e1e4fc!important
}

.bg-indigo-200 {
    background-color: #c7cffc!important
}

.bg-indigo-300 {
    background-color: #afb9fa!important
}

.bg-indigo-400 {
    background-color: #96a3fa!important
}

.bg-indigo-500 {
    background-color: #7d8efa!important
}

.bg-indigo-600 {
    background-color: #667afa!important
}

.bg-indigo-700 {
    background-color: #4d64fa!important
}

.bg-indigo-800 {
    background-color: #364ff5!important
}

.bg-indigo-900 {
    background-color: #1f3aed!important
}

.indigo-100 {
    color: #e1e4fc!important
}

.indigo-200 {
    color: #c7cffc!important
}

.indigo-300 {
    color: #afb9fa!important
}

.indigo-400 {
    color: #96a3fa!important
}

.indigo-500 {
    color: #7d8efa!important
}

.indigo-600 {
    color: #667afa!important
}

.indigo-700 {
    color: #4d64fa!important
}

.indigo-800 {
    color: #364ff5!important
}

.indigo-900 {
    color: #1f3aed!important
}

.bg-blue-100 {
    background-color: #d9e9ff!important
}

.bg-blue-200 {
    background-color: #b8d7ff!important
}

.bg-blue-300 {
    background-color: #99c5ff!important
}

.bg-blue-400 {
    background-color: #79b2fc!important
}

.bg-blue-500 {
    background-color: #589ffc!important
}

.bg-blue-600 {
    background-color: #3e8ef7!important
}

.bg-blue-700 {
    background-color: #247cf0!important
}

.bg-blue-800 {
    background-color: #0b69e3!important
}

.bg-blue-900 {
    background-color: #0053bf!important
}

.blue-100 {
    color: #d9e9ff!important
}

.blue-200 {
    color: #b8d7ff!important
}

.blue-300 {
    color: #99c5ff!important
}

.blue-400 {
    color: #79b2fc!important
}

.blue-500 {
    color: #589ffc!important
}

.blue-600 {
    color: #3e8ef7!important
}

.blue-700 {
    color: #247cf0!important
}

.blue-800 {
    color: #0b69e3!important
}

.blue-900 {
    color: #0053bf!important
}

.bg-cyan-100 {
    background-color: #c2f5ff!important
}

.bg-cyan-200 {
    background-color: #9de6f5!important
}

.bg-cyan-300 {
    background-color: #77d9ed!important
}

.bg-cyan-400 {
    background-color: #54cbe3!important
}

.bg-cyan-500 {
    background-color: #28c0de!important
}

.bg-cyan-600 {
    background-color: #0bb2d4!important
}

.bg-cyan-700 {
    background-color: #0099b8!important
}

.bg-cyan-800 {
    background-color: #007d96!important
}

.bg-cyan-900 {
    background-color: #006275!important
}

.cyan-100 {
    color: #c2f5ff!important
}

.cyan-200 {
    color: #9de6f5!important
}

.cyan-300 {
    color: #77d9ed!important
}

.cyan-400 {
    color: #54cbe3!important
}

.cyan-500 {
    color: #28c0de!important
}

.cyan-600 {
    color: #0bb2d4!important
}

.cyan-700 {
    color: #0099b8!important
}

.cyan-800 {
    color: #007d96!important
}

.cyan-900 {
    color: #006275!important
}

.bg-teal-100 {
    background-color: #c3f7f2!important
}

.bg-teal-200 {
    background-color: #92f0e6!important
}

.bg-teal-300 {
    background-color: #6be3d7!important
}

.bg-teal-400 {
    background-color: #45d6c8!important
}

.bg-teal-500 {
    background-color: #28c7b7!important
}

.bg-teal-600 {
    background-color: #17b3a3!important
}

.bg-teal-700 {
    background-color: #089e8f!important
}

.bg-teal-800 {
    background-color: #008577!important
}

.bg-teal-900 {
    background-color: #00665c!important
}

.teal-100 {
    color: #c3f7f2!important
}

.teal-200 {
    color: #92f0e6!important
}

.teal-300 {
    color: #6be3d7!important
}

.teal-400 {
    color: #45d6c8!important
}

.teal-500 {
    color: #28c7b7!important
}

.teal-600 {
    color: #17b3a3!important
}

.teal-700 {
    color: #089e8f!important
}

.teal-800 {
    color: #008577!important
}

.teal-900 {
    color: #00665c!important
}

.bg-green-100 {
    background-color: #c2fadc!important
}

.bg-green-200 {
    background-color: #99f2c2!important
}

.bg-green-300 {
    background-color: #72e8ab!important
}

.bg-green-400 {
    background-color: #49de94!important
}

.bg-green-500 {
    background-color: #28d17c!important
}

.bg-green-600 {
    background-color: #11c26d!important
}

.bg-green-700 {
    background-color: #05a85c!important
}

.bg-green-800 {
    background-color: #008c4d!important
}

.bg-green-900 {
    background-color: #006e3c!important
}

.green-100 {
    color: #c2fadc!important
}

.green-200 {
    color: #99f2c2!important
}

.green-300 {
    color: #72e8ab!important
}

.green-400 {
    color: #49de94!important
}

.green-500 {
    color: #28d17c!important
}

.green-600 {
    color: #11c26d!important
}

.green-700 {
    color: #05a85c!important
}

.green-800 {
    color: #008c4d!important
}

.green-900 {
    color: #006e3c!important
}

.bg-light-green-100 {
    background-color: #dcf7b0!important
}

.bg-light-green-200 {
    background-color: #c3e887!important
}

.bg-light-green-300 {
    background-color: #add966!important
}

.bg-light-green-400 {
    background-color: #94cc39!important
}

.bg-light-green-500 {
    background-color: #7eb524!important
}

.bg-light-green-600 {
    background-color: #6da611!important
}

.bg-light-green-700 {
    background-color: #5a9101!important
}

.bg-light-green-800 {
    background-color: #4a7800!important
}

.bg-light-green-900 {
    background-color: #3a5e00!important
}

.light-green-100 {
    color: #dcf7b0!important
}

.light-green-200 {
    color: #c3e887!important
}

.light-green-300 {
    color: #add966!important
}

.light-green-400 {
    color: #94cc39!important
}

.light-green-500 {
    color: #7eb524!important
}

.light-green-600 {
    color: #6da611!important
}

.light-green-700 {
    color: #5a9101!important
}

.light-green-800 {
    color: #4a7800!important
}

.light-green-900 {
    color: #3a5e00!important
}

.bg-yellow-100 {
    background-color: #fff6b5!important
}

.bg-yellow-200 {
    background-color: #fff39c!important
}

.bg-yellow-300 {
    background-color: #ffed78!important
}

.bg-yellow-400 {
    background-color: #ffe54f!important
}

.bg-yellow-500 {
    background-color: #ffdc2e!important
}

.bg-yellow-600 {
    background-color: #ffcd17!important
}

.bg-yellow-700 {
    background-color: #fcb900!important
}

.bg-yellow-800 {
    background-color: #faa700!important
}

.bg-yellow-900 {
    background-color: #fa9600!important
}

.yellow-100 {
    color: #fff6b5!important
}

.yellow-200 {
    color: #fff39c!important
}

.yellow-300 {
    color: #ffed78!important
}

.yellow-400 {
    color: #ffe54f!important
}

.yellow-500 {
    color: #ffdc2e!important
}

.yellow-600 {
    color: #ffcd17!important
}

.yellow-700 {
    color: #fcb900!important
}

.yellow-800 {
    color: #faa700!important
}

.yellow-900 {
    color: #fa9600!important
}

.bg-orange-100 {
    background-color: #ffe1c4!important
}

.bg-orange-200 {
    background-color: #ffc894!important
}

.bg-orange-300 {
    background-color: #fab06b!important
}

.bg-orange-400 {
    background-color: #fa983c!important
}

.bg-orange-500 {
    background-color: #f57d1b!important
}

.bg-orange-600 {
    background-color: #eb6709!important
}

.bg-orange-700 {
    background-color: #de4e00!important
}

.bg-orange-800 {
    background-color: #b53f00!important
}

.bg-orange-900 {
    background-color: #962d00!important
}

.orange-100 {
    color: #ffe1c4!important
}

.orange-200 {
    color: #ffc894!important
}

.orange-300 {
    color: #fab06b!important
}

.orange-400 {
    color: #fa983c!important
}

.orange-500 {
    color: #f57d1b!important
}

.orange-600 {
    color: #eb6709!important
}

.orange-700 {
    color: #de4e00!important
}

.orange-800 {
    color: #b53f00!important
}

.orange-900 {
    color: #962d00!important
}

.bg-brown-100 {
    background-color: #f5e2da!important
}

.bg-brown-200 {
    background-color: #e0cdc5!important
}

.bg-brown-300 {
    background-color: #cfb8b0!important
}

.bg-brown-400 {
    background-color: #bda299!important
}

.bg-brown-500 {
    background-color: #ab8c82!important
}

.bg-brown-600 {
    background-color: #997b71!important
}

.bg-brown-700 {
    background-color: #82675f!important
}

.bg-brown-800 {
    background-color: #6b534c!important
}

.bg-brown-900 {
    background-color: #57403a!important
}

.brown-100 {
    color: #f5e2da!important
}

.brown-200 {
    color: #e0cdc5!important
}

.brown-300 {
    color: #cfb8b0!important
}

.brown-400 {
    color: #bda299!important
}

.brown-500 {
    color: #ab8c82!important
}

.brown-600 {
    color: #997b71!important
}

.brown-700 {
    color: #82675f!important
}

.brown-800 {
    color: #6b534c!important
}

.brown-900 {
    color: #57403a!important
}

.bg-grey-100 {
    background-color: #fafafa!important
}

.bg-grey-200 {
    background-color: #eee!important
}

.bg-grey-300 {
    background-color: #e0e0e0!important
}

.bg-grey-400 {
    background-color: #bdbdbd!important
}

.bg-grey-500 {
    background-color: #9e9e9e!important
}

.bg-grey-600 {
    background-color: #757575!important
}

.bg-grey-700 {
    background-color: #616161!important
}

.bg-grey-800 {
    background-color: #424242!important
}

.bg-grey-900 {
    background-color: #474747!important
}

.grey-100 {
    color: #fafafa!important
}

.grey-200 {
    color: #eee!important
}

.grey-300 {
    color: #e0e0e0!important
}

.grey-400 {
    color: #bdbdbd!important
}

.grey-500 {
    color: #9e9e9e!important
}

.grey-600 {
    color: #757575!important
}

.grey-700 {
    color: #616161!important
}

.grey-800 {
    color: #424242!important
}

.grey-900 {
    color: #474747!important
}

.bg-blue-grey-100 {
    background-color: #f3f7f9!important
}

.bg-blue-grey-200 {
    background-color: #e4eaec!important
}

.bg-blue-grey-300 {
    background-color: #ccd5db!important
}

.bg-blue-grey-400 {
    background-color: #a3afb7!important
}

.bg-blue-grey-500 {
    background-color: #76838f!important
}

.bg-blue-grey-600 {
    background-color: #526069!important
}

.bg-blue-grey-700 {
    background-color: #37474f!important
}

.bg-blue-grey-800 {
    background-color: #263238!important
}

.bg-blue-grey-900 {
    background-color: #3e4854!important
}

.blue-grey-100 {
    color: #f3f7f9!important
}

.blue-grey-200 {
    color: #e4eaec!important
}

.blue-grey-300 {
    color: #ccd5db!important
}

.blue-grey-400 {
    color: #a3afb7!important
}

.blue-grey-500 {
    color: #76838f!important
}

.blue-grey-600 {
    color: #526069!important
}

.blue-grey-700 {
    color: #37474f!important
}

.blue-grey-800 {
    color: #263238!important
}

.blue-grey-900 {
    color: #3e4854!important
}

.bg-primary-100 {
    background-color: #d9e9ff!important
}

.bg-primary-200 {
    background-color: #b8d7ff!important
}

.bg-primary-300 {
    background-color: #99c5ff!important
}

.bg-primary-400 {
    background-color: #79b2fc!important
}

.bg-primary-500 {
    background-color: #589ffc!important
}

.bg-primary-600 {
    background-color: #3e8ef7!important
}

.bg-primary-700 {
    background-color: #247cf0!important
}

.bg-primary-800 {
    background-color: #0b69e3!important
}

.primary-100 {
    color: #d9e9ff!important
}

.primary-200 {
    color: #b8d7ff!important
}

.primary-300 {
    color: #99c5ff!important
}

.primary-400 {
    color: #79b2fc!important
}

.primary-500 {
    color: #589ffc!important
}

.primary-600 {
    color: #3e8ef7!important
}

.primary-700 {
    color: #247cf0!important
}

.primary-800 {
    color: #0b69e3!important
}

.black {
    color: #000!important
}

.white {
    color: #fff!important
}
 
/* Graphs page */ 
.graphspage .blackrow label { 
    color: #303641;
    font-size: 20px;
    padding: 10px 10px;
    width: 100%;
    text-align: center;
}
@media screen and (min-width: 480px) {
    .somepadding {
        margin-top: 70px;
    }
}

/* On homepage pretify the report */
#homepagecontainer #homepage_active_report #buddypress ul#activity-stream .activity-avatar,
#homepagecontainer #homepage_active_report #buddypress ul#activity-stream .activity-timeline,
#homepagecontainer #homepage_active_report #buddypress ul#activity-stream .activity-comments,
#homepagecontainer #homepage_active_report #buddypress ul#activity-stream .activity-content .activity-header ,
#homepagecontainer #homepage_active_report #buddypress ul#activity-stream .activity-content .activity-meta {
    display: none;
}
#homepagecontainer #homepage_active_report #buddypress ul#activity-stream .activity-content {
    margin: 0px;
} 
#homepagecontainer #homepage_active_report #buddypress ul.item-list li { 
    border-width: 0px;
    padding: 0px 20px 0px 20px;
} 

#footer li {
    text-align: right;
}

.navbar-nav > li > a { 
    font-size: 15px;
}

.rtmedia-actions-before-comments .rtmedia-comment-link, 
.rtmedia-actions-before-comments .rtmedia-view-conversation, 
#buddypress .rtmedia-actions-before-comments .rtmedia-like { 
    padding: 0px 10px; 
}  
 

#buddypress .rtmedia-container .rtm-lightbox-container .button 
{
    color: #fff;
    background-color: #4e97d9;
    padding: 10px 20px;
    border-width : 0px;
    height:40px;
    line-height: normal;
}  
#buddypress .rtmedia-list li.rtmedia-list-item  {
    border-width:0px;
}

.mfp-content #buddypress .rtm-lightbox-container .rtmedia-single-meta .rtm-media-single-comments .rt_media_comment_submit {
    background-color: #4e97d9;
    border-color: #4e97d9 !important;
    color: #fff;
    font-weight: bold;
}
#rt_media_comment_form .rtmedia-comment-media-upload {
    margin-top: 10px;
}
#buddypress .tab-content > .tab-pane {
    padding: 5px 0px;
}

.mainwelcome {
    margin: 0px 15px;
    width: 70%;   
    float: left;
}
@media screen and (min-width: 480px) {
    .mainwelcome  {
        margin:15px;
    }
} 
#buddypress #item-body {
        padding: 0 20px;
}

#buddypress div#item-nav ul li a::before {
   color: #4e97d9; 
}

#buddypress #item-body #settings-form input {
    width: 100%;
}
#buddypress #item-body #settings-form  input#submit, 
#account-delete-form #delete-account-button 
{ 
    width: 200px;
}
#buddypress #item-body #settings-form  input#submit, 
#account-delete-form #delete-account-button ,
#buddypress .standard-form div.submit input {
    color: #fff;
    background-color: #4e97d9;
    padding: 10px 20px;
    border-width : 0px;
    height:40px;
    line-height: normal;    
}
#account-delete-form #delete-account-button {
    background-color: #f96868;    
}
  
.buddypress #item-body div#message p , #sitewide-notice p { 
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

li#profile-personal-li {
    display: none;
} 
#buddypress #rtmedia-add-media-button-post-update {
    color: #fff;
    background-color: #4e97d9;
    border-width: 0px;
    padding: 5px 10px 20px 10px;
}
 
#buddypress .activity-comments .rtmedia-comment-media-upload,
#buddypress .activity-comments .rt_media_comment_submit,
#buddypress .rtm-media-single-comments .rtmedia-comment-media-upload,
#buddypress .rtm-media-single-comments .rt_media_comment_submit{
    line-height: 22px;
} 

/*todo : this is dangerous. we should put that in hooks or somewhere in code*/
#activity-stream .updated_profile,
#activity-stream .new_member {
    display: none;
}

#buddypress #activity-stream .activity .activity-comments .acomment-options {
    clear:both;
    float:none;
}  
#buddypress .activity-meta a.loading_disabled { 
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 10px;
    height: 10px;    
    animation: spin 1s infinite linear;
} 
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.categories {
    margin-top: 10px;
}

/*Send private message in profile page */
#buddypress #item-meta #item-buttons #post-mention {
    display: none;
}
#buddypress .categories span {
    color: #888888;
    margin-right: 2px;
    padding: 0px 10px 10px 0px;   
}
 
#buddypress .searchpage .bboss_search_page  div.message-search input[type="text"], 
#buddypress .searchpage .bboss_search_page  div.dir-search input[type="text"] {
    border: 1px solid #dddddd; 
}

#buddypress .searchpage .results-group-title ,
#buddypress .searchpage .search_filters 
{
    display:none;
}
@media (min-width: 400px) {
    #buddypress .searchpage .activity-avatar,
    #buddypress .searchpage .item-avatar     
    {
        margin: 0px 20px 0px 0px;
    }
    #buddypress .searchpage .item     
    {
        margin-left: 80px;
    }    
}
@media (max-width: 400px) {
    #buddypress .searchpage .activity-header,
    #buddypress .searchpage .item-header
    {
        margin: 0px 0px 0px 20px !important;
    }
    #buddypress .searchpage .item     
    {
        margin-left: 80px;
    }      
}

#buddypress .searchpage .activity-content
,#buddypress .searchpage .item-desc {
    border-width: 0px;
}


/*HomePage Flipside*/
.flipside {
  display: flex; 
  font-size: 18px;
  perspective: 1000px; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.description {
  margin-top: 50px;
  text-align: center;
  color: #999;
  transition: opacity 0.3s ease;
}
.description a {
  color: #4a9df6;
  text-decoration: none;
}
.flipside .btn.is-open ~ .description {
  opacity: 0;
}
.flipside .btn {
  display: block;
  position: relative;
  width: 200px;
  height: 80px;
  transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1), height 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  text-align: center;
}
.flipside .btn-front {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 80px;
  background-color: #ffffff;
  color: #3d86c8;
  cursor: pointer;
  backface-visibility: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: background 0.15s ease, line-height 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.flipside .btn-front:hover {
  /*background-color: #f77066;*/
}
.flipside .btn.is-open .btn-front {
  pointer-events: none;
  line-height: 160px;
}
.flipside .btn-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #eee;
  color: #222;
  transform: translateZ(-2px) rotateX(180deg);
  overflow: hidden;
  transition: box-shadow 0.8s ease;
}
.flipside .btn-back p {
  margin-top: 27px;
  margin-bottom: 25px;
}
.flipside .btn-back button {
  padding: 12px 20px;
  width: 30%;
  margin: 0 5px;
  background-color: transparent;
  border: 0;
  border-radius: 2px;
  font-size: 1em;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: background 0.15s ease;
}
.flipside .btn-back button:focus {
  outline: 0;
}
.flipside .btn-back button.yes {
  background-color: #2196f3;
  color: #fff;
}
.flipside .btn-back button.yes:hover {
  background-color: #51adf6;
}
.flipside .btn-back button.no {
  color: #2196f3;
}
.flipside .btn-back button.no:hover {
  background-color: #ddd;
}
.flipside .btn.is-open .btn-back {
 /* box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4); */
}
.flipside .btn[data-direction="left"] .btn-back, .flipside .btn[data-direction="right"] .btn-back {
  transform: translateZ(-2px) rotateY(180deg);
}
.flipside .btn.is-open {
  width: 400px;
  height: 160px;
}
.flipside .btn[data-direction="top"].is-open {
  transform: rotateX(180deg);
}
.flipside .btn[data-direction="right"].is-open {
  transform: rotateY(180deg);
}
.flipside .btn[data-direction="bottom"].is-open {
  transform: rotateX(-180deg);
}
.flipside .btn[data-direction="left"].is-open {
  transform: rotateY(-180deg);
}

.flipside .headingmy {
    margin-top: 50px;
    margin-bottom: 15px;
}

.ctlstats_loading {
    text-align: center;
}

#ctlstats {
    display: none;
}

.symbolstats {
    padding-top:50px;
}
#whats-new-form .row .singlegraph {
    margin-top:100px;
}

.contactpage #whats-new-form .info-card {
    margin-top:100px;
}

input[type=button].ninja-forms-field {
    background-color:#4e97d9;
    border:1px solid #4e97d9;
    color: #fff;
    padding: 5px 10px;
} 
.nf-response-msg { 
    
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1; 
    padding: 10px 15px; 
}
 

/*All Mobile Screen - Portrait */
@media (max-width: 500px) {
    html {
         margin-top: 0px !important;
         
    }  
    #homepagecontainer .main_heading .page-header span {
        font-size: 50px;
    }
    #footer .col-sm-3 ul li a {
        text-align:left;
    }
    #buddypress form#whats-new-form textarea, #ctltype, #ctlsubtype {
        height: auto;
    }    
    #whats-new-form .row .singlegraph {
        margin-top: 0px;
    }  
    
    #logo_img { 
        height: 40px;
    }
    
    .contactpage #whats-new-form .info-card {
        margin-top:0px;
    }    
}

/* Small Mobile Screen */
@media (max-width: 330px) {
    .mainwelcome {
        width: 190px; 
        margin: 0px;
        width: 70%;
        float: right;
    }
} 
.activity-comments .acomment-content p {
    margin-top: 15px;
}

/*Loading Class*/ 
/* Safari 4.0 - 8.0 */
@keyframes spinner {
  to {transform: rotate(360deg);}
}

#buddypress div.activity-comments div.acomment-content {
    margin: 15px 0 0 0;
}
 
#buddypress #activity-stream .activity .loading:before {
  content: '';
  box-sizing: border-box;
  position: absolute; 
  width: 20px;
  height: 20px; 
  left:0px; 
  border-radius: 50%;
  border: 2px solid #C8E8F6;
  border-top-color: #4e97d9;
  animation: spinner .6s linear infinite;
}

#buddypress #activity-stream .activity .activity-inner .loading:before {
  top: 50%;
  left: 50%; 
  margin-top: -10px;
  margin-left: -10px;    
}

#buddypress .activity-comments input.loading {
     animation: colorchange 1s linear infinite; 
     -webkit-animation: colorchange 1s linear infinite;  
}
    @keyframes colorchange
    {
      0%   {background: #4e97d9;}
      25%  {background: #C8E8F6;}
      50%  {background: #4e97d9;}
      75%  {background: #C8E8F6;}
      100% {background: #4e97d9;}
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {background: #4e97d9;}
      25%  {background: #C8E8F6;}
      50%  {background: #4e97d9;}
      75%  {background: #C8E8F6;}
      100% {background: #4e97d9;}
    }
#timestampright {
    font-size: 12px;
}